<a class="beer-circle one" href="coronafamiliar.html">Corona Familiar</a>
<a class="beer-circle two" href="fosters.html">Foster's</a>
<a class="beer-circle three" href="narragansett.html">Narragansett</a>
<a class="beer-circle four" href="pabstapa.html">Pabst APA</a>
