<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />

    <title>Yard Beer Explained</title>

    <!-- [if lt IE 9]>
      <script src="files/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <a href="index.html"><img src="images/logo.svg" alt="Passable Beer Reviews logo."></a>

      <!-- <div class="review-dropdown">
        <button class="review-dropdown-btn">Reviews</button>
        <div class="review-dropdown-content">
          <a href="coronafamiliar.html">Corona Familiar</a>
          <a href="fosters.html">Foster's Lager</a>
          <a href="narragansett.html">Narragansett Lager</a>
          <a href="pabstapa.html">Pabst American Pale Ale</a>
        </div>
      </div> -->

      <nav class="topnav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a class="active" href="about.html">Passable Beer Explained</a></li>
          <li><a href="favoritebeers.html">Favorite Beers</a></li>
          <li><a href="contact.html">Suggestion Box</a></li>
        </ul>
      </nav>
    </header>

    <article class="article">

      <h1>What is Yard Beer?</h1>

      <p>Passable beers are beers that, in the current marketplace, only passably qualify as beer. Technically, passable beers belong to the bland, straw-colored style classified as American Adjunct Lager. Around my house we just call them yard beers.</p>

      <p>Why yard beer? Because when I’ve been sweating out in the yard for a few summer hours, that's the drink I want the most. About the last thing I want is, for example, an Imperial Russian Goat Milk Stout. A cold yard beer in the summer is actually my <a href="favoritebeers.html">second-favorite beer</a>.</p>

      <p>Adjunct lagers were about the only kind of beer known to most of America until the late 1990’s, and in the ensuing years they’ve gotten a bad reputation as craft beer has grown in market-share. Words like “bland” and “swill” get thrown at Bud, Miller, and Coors for good reason. Most of their beers are bland swill. But that’s slightly unfair because a bland, broadly-appealing taste is the aim. “Bland swill” doesn’t automatically mean <em>bad</em> — although in many, many cases it does.</p>

      <p>Beer, like food and wine, is best enjoyed in its proper context. For instance, if asked to rank my favorite beers, <a href="http://www.caribbrewery.com/">Carib</a> makes the list. I do not rate it highly because it is good, objectively speaking. I rate it highly because: 1) It isn’t an outright assault on the taste buds and 2) I drank it on vacation in Grenada, where it fit with the vibe (and the temperature) perfectly. Yard beers are great travel companions in the Caribbean, and now I connect the taste of Carib with some of my fondest memories.</p>

      <p>The marketing this type of beer gives away the game. Passable beers are “clean”, “crisp”, and “refreshing” instead of “good”, “delicious”, or “tasty. This is because those first three adjectives are technically true and the latter three are such outright lies that even the advertising industry avoids them.</p>

      <p>After working in the hot sun you want something crisp. Something clean. Something refreshing. Something bland that can put down in giant gulps as a reward for sweaty work. It can only passably be called beer, but then again most of these reviews will only passably qualify as “good writing.” You get what you pay for.</p>

      <p>Welcome to Passable Beer Reviews, where I review various yard beers (and their close relatives) to determine what's passable enough to drink.</p>


      <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

      <aside class="beer-links bottom">
        <a class="beer-circle one" href="coronafamiliar.html">Corona Familiar</a>
        <a class="beer-circle two" href="fosters.html">Foster's</a>
        <a class="beer-circle three" href="narragansett.html">Narragansett</a>
        <a class="beer-circle four" href="pabstapa.html">Pabst APA</a>
      </aside>

    </article>

    <footer>
      <p>All images and text &copy; 2018</p>

        <input type="checkbox" id="bottomnav-toggle">
        <nav class="bottomnav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a class="active" href="about.html">Passable Beer Explained</a></li>
            <li><a href="favoritebeers.html">Favorite Beers</a></li>
            <li><a href="contact.html">Suggestion Box</a></li>
          </ul>
        </nav>
        <label for="bottomnav-toggle" class="bottomnav-toggle-label">Menu
          <svg aria-hidden="true" data-prefix="fas" data-icon="beer" class="svg-inline--fa fa-beer fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 424 512"><path fill="currentColor" d="M368 96h-48V56c0-13.255-10.745-24-24-24H24C10.745 32 0 42.745 0 56v400c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24v-42.11l80.606-35.977C429.396 365.063 448 336.388 448 304.86V176c0-44.112-35.888-80-80-80zm16 208.86a16.018 16.018 0 0 1-9.479 14.611L320 343.805V160h48c8.822 0 16 7.178 16 16v128.86zM208 384c-8.836 0-16-7.164-16-16V144c0-8.836 7.164-16 16-16s16 7.164 16 16v224c0 8.836-7.164 16-16 16zm-96 0c-8.836 0-16-7.164-16-16V144c0-8.836 7.164-16 16-16s16 7.164 16 16v224c0 8.836-7.164 16-16 16z"></path></svg>
        </label>
    </footer>

  </body>
</html>
