
<% include partials/boilerplate %>

    <title>Yard Beer</title>

    <!-- [if lt IE 9]>
      <script src="files/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <% include partials/header %>

    <article class="article">

      <h1>What is Yard Beer?</h1>

      <p>Passable beers can, in the current craft-heavy market, only passably qualify as beer. Technically, passable beers belong to the bland, straw-colored style properly classified as American Adjunct Lager. Around my house we just call them yard beers.</p>

      <p>Why yard beer? Because when I’ve been sweating out in the yard for a few summer hours, that's the drink I want the most. About the last thing I want is, for example, an Imperial Russian Goat Milk Stout. A cold yard beer in the summer is actually my <a href="favoritebeers.html">second-favorite beer</a>.</p>

      <p>Adjunct lagers were about the only kind of beer known to most of America until the late 1990’s. Words like “bland” and “swill” get thrown at Bud, Miller, and Coors for good reason. Most of their beers are bland swill. But “bland swill” doesn’t automatically equal <em>bad</em> — although in many, many cases it does.</p>

      <p>Beer, like food and wine, is best enjoyed in its proper context. For instance, if asked to rank my favorite beers, <a href="http://www.caribbrewery.com/">Carib</a> makes the list. I do not rate it highly because it is good, objectively speaking. I rate it highly because: 1) It isn’t an outright assault on the taste buds and 2) I drank it on vacation in Grenada, where it fit with the vibe (and the temperature) perfectly. Yard beers are great travel companions in the Caribbean, and now I connect the taste of Carib with some of my fondest memories.</p>

      <p>Big Beer's marketing for passable beers gives away the game. Passable beers are “clean”, “crisp”, and “refreshing” instead of “good”, “delicious”, or “tasty. This is because those first three adjectives are technically true and the latter three are such outright lies that even the advertising industry avoids them.</p>

      <p>After working in the hot sun you want something crisp, clean, and refreshing. You want something bland that can be consumed in giant gulps. It can only passably be called beer, but then again most of these reviews will only passably qualify as “good writing.” You get what you pay for.</p>

      <p>Welcome to Passable Beer Reviews, where I review various yard beers (and their close relatives) to determine what's passable enough to drink.</p>

      <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

      <aside class="beer-links bottom">
        <% include partials/beerlinks %>
      </aside>

    </article>

    <% include partials/footer %>
    <script src="js/pagesize.js"></script>
    <script src="js/active-class_article.js"></script>
  </body>
</html>
