<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />

    <title>Suggestion Box</title>

    <!-- [if lt IE 9]>
      <script src="files/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <a href="index.html"><img src="images/logo.svg" alt="Passable Beer Reviews logo."></a>

      <!-- <div class="review-dropdown">
        <button class="review-dropdown-btn">Reviews</button>
        <div class="review-dropdown-content">
          <a href="coronafamiliar.html">Corona Familiar</a>
          <a href="fosters.html">Foster's Lager</a>
          <a href="narragansett.html">Narragansett Lager</a>
          <a href="pabstapa.html">Pabst American Pale Ale</a>
        </div>
      </div> -->

      <nav class="topnav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">Passable Beer Explained</a></li>
          <li><a href="favoritebeers.html">Favorite Beers</a></li>
          <li><a class="active" href="contact.html">Suggestion Box</a></li>
        </ul>
      </nav>
    </header>

    <h1>Suggest a Beer</h1>

    <form action="example.com">

      <label>
        <input type="text" required/>
        <div class="label-text">First name</div>
      </label>

      <label>
        <input type="text" required/>
        <div class="label-text">Last name</div>
      </label>

      <label>
        <input type="text" required/>
        <div class="label-text">Email</div>
      </label>

      <label>
        <textarea required></textarea>
        <div class="textarea-text">Beer suggestion</div>
      </label>

      <input type="submit" value="Submit">

    </form>

    <h3><span class="firstletter">R</span>ecent Reviews</h3>

    <aside class="beer-links">
      <a class="beer-circle one" href="coronafamiliar.html">Corona Familiar</a>
      <a class="beer-circle two" href="fosters.html">Foster's</a>
      <a class="beer-circle three" href="narragansett.html">Narragansett</a>
      <a class="beer-circle four" href="pabstapa.html">Pabst APA</a>
    </aside>

    <footer>
      <p>All images and text &copy; 2018</p>

        <input type="checkbox" id="bottomnav-toggle">
        <nav class="bottomnav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Passable Beer Explained</a></li>
            <li><a href="favoritebeers.html">Favorite Beers</a></li>
            <li><a class="active" href="contact.html">Suggestion Box</a></li>
          </ul>
        </nav>
        <label for="bottomnav-toggle" class="bottomnav-toggle-label">Menu
          <svg aria-hidden="true" data-prefix="fas" data-icon="beer" class="svg-inline--fa fa-beer fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 424 512"><path fill="currentColor" d="M368 96h-48V56c0-13.255-10.745-24-24-24H24C10.745 32 0 42.745 0 56v400c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24v-42.11l80.606-35.977C429.396 365.063 448 336.388 448 304.86V176c0-44.112-35.888-80-80-80zm16 208.86a16.018 16.018 0 0 1-9.479 14.611L320 343.805V160h48c8.822 0 16 7.178 16 16v128.86zM208 384c-8.836 0-16-7.164-16-16V144c0-8.836 7.164-16 16-16s16 7.164 16 16v224c0 8.836-7.164 16-16 16zm-96 0c-8.836 0-16-7.164-16-16V144c0-8.836 7.164-16 16-16s16 7.164 16 16v224c0 8.836-7.164 16-16 16z"></path></svg>
        </label>
    </footer>
  </body>
</html>
