<% include partials/boilerplate %>

    <title>Suggestion Box</title>

    <!-- [if lt IE 9]>
      <script src="files/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <% include partials/header %>

    <h1>Suggest a Beer</h1>

    <form action="example.com">

      <label>
        <input type="text" required/>
        <div class="label-text">First name</div>
      </label>

      <label>
        <input type="text" required/>
        <div class="label-text">Last name</div>
      </label>

      <label>
        <input type="text" required/>
        <div class="label-text">Email</div>
      </label>

      <label>
        <textarea required></textarea>
        <div class="textarea-text">Beer suggestion</div>
      </label>

      <input type="submit" value="Submit">

    </form>

    <h3><span class="firstletter">R</span>ecent Reviews</h3>

    <aside class="beer-links">
      <% include partials/beerlinks %>
    </aside>

    <% include partials/footer %>
    <script src="js/active-class_article.js"></script>
  </body>
</html>
