<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />

    <title>Review — Corona Familiar</title>

    <!-- [if lt IE 9]>
      <script src="files/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <a href="index.html"><img src="images/logo.svg" alt="Passable Beer Reviews logo."></a>

      <nav class="topnav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">Passable Beer Explained</a></li>
          <li><a href="favoritebeers.html">Favorite Beers</a></li>
          <li><a href="contact.html">Suggestion Box</a></li>
        </ul>
      </nav>
    </header>

    <article>

      <h1>Corona Familiar</h1>

      <img class="bottle" src="images/coronafamiliar.png" alt="A bottle of Corona Familiar.">
      <hr />

      <p>Despite being so objectionable in raw form that it requires a lime to drink, Corona Extra/Light (with a lime) is one of my favorite summertime treats. I will not apologize for this decision. There’s a reason the marketing for Corona is beach-centered—the beer and warm weather suit each other.</p>

      <p>There’s also a reason that Corona Extra is one of the few beers to come in a clear bottle. Light damages beer. This is one reason cans are actually better than bottles, and the sole reason that only an already heinous beer gets stored and shipped in clear or green bottles. You can’t skunk a beer, looking at you Rolling Rock and Heineken, that’s already skunked. They even take the time to put Schlitz Malt Liquor in a brown bottle, for goodness sake. And Schlitz Malt Liquor is not fit for human consumption.</p>

      <input id="info-toggle" type="checkbox">
      <label id="info-toggle-label" for="info-toggle">Beer Stats & Info</label>
      <aside class="infobox">
        <ul>
          <li><strong>Brewed by: </strong>Cerveceria Modelo</li>
          <li><strong>Style: </strong>American Lager</li>
          <li><strong>ABV: </strong>4.8%</li>
          <li><strong>Commercial Description: </strong>“The best beers are made to be shared. That’s why Corona Familiar embraces the bright, crisp taste Corona is known for with a slightly fuller flavor, higher ABV, and shareable 32oz packaging. With strong ties to authenticity and heritage, Corona Familiar is best served in small gatherings with close friends and family, using the tradition of sharing to create meaningful experiences.”</li>
          <li><strong>A Woman's Perspective: </strong>“It’s ok. I’d rather drink a Corona.”</li>
          <li><strong>Is it Passable Beer?: </strong>Sure, but why go to the expense?</li>
        </ul>
      </aside>

      <p>As a fan of old familiar Corona, I was slightly intrigued by the introduction of Corona Familiar. The brown bottle lets you know that at least this beer is good enough to deserve the same light-deflecting brown bottle as the Milwaukee’s Best family. Although, to be fair, Milwaukee's Best in bottle-form only exists to help the government’s intelligence agency update their terror watch list — if you must buy Beast, please, just buy it by the case of cans as God intended.</p>

      <p>I guess Corona the marketing geeks were looking to make use of the “Familiar” title, so they bill this as a beer “best made to be shared.” What a load of crap. The best beers are made for you to consume and then recommend to your friends. The best beers are not made to be put into 32-ounce bottles, like Corona Familiar, and passed around at the party. That’s what the worst beers are for.</p>

      <p>Slight intrigue in Corona Familiar did not give way to high expectations, and I’m happy to report those expectations were mostly met. It’s a Corona that doesn’t need a lime. And… that’s about it. If it’s summer and I must have a Corona I’m sticking with an old, familiar friend. Unless I can’t find a lime. In that case, I’ll grab a Dos Equis Amber. Which, come to think of it, is better with a lime too. Sensing a trend, here, beers of Mexican descent.</p>

      <h3><span class="firstletter">O</span>ther Ratings</h3>

      <aside class="ratings">
        <div><a href="https://www.ratebeer.com/beer/corona-familiar-2018-/599046/">RateBeer:</a>2.50/5</div><br />
        <div><a href="https://www.beeradvocate.com/beer/profile/213/7406/">Beeradvocate:</a>2.78/5</div>
      </aside>

      <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

      <aside class="beer-links bottom">
        <a class="beer-circle one active" href="coronafamiliar.html">Corona Familiar</a>
        <a class="beer-circle two" href="fosters.html">Foster's</a>
        <a class="beer-circle three" href="narragansett.html">Narragansett</a>
        <a class="beer-circle four" href="pabstapa.html">Pabst APA</a>
      </aside>

    </article>

    <footer>
      <p>All images and text &copy; 2018</p>

        <input type="checkbox" id="bottomnav-toggle">
        <nav class="bottomnav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Passable Beer Explained</a></li>
            <li><a href="favoritebeers.html">Favorite Beers</a></li>
            <li><a href="contact.html">Suggestion Box</a></li>
          </ul>
        </nav>
        <label for="bottomnav-toggle" class="bottomnav-toggle-label">Menu
          <svg aria-hidden="true" data-prefix="fas" data-icon="beer" class="svg-inline--fa fa-beer fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 424 512"><path fill="currentColor" d="M368 96h-48V56c0-13.255-10.745-24-24-24H24C10.745 32 0 42.745 0 56v400c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24v-42.11l80.606-35.977C429.396 365.063 448 336.388 448 304.86V176c0-44.112-35.888-80-80-80zm16 208.86a16.018 16.018 0 0 1-9.479 14.611L320 343.805V160h48c8.822 0 16 7.178 16 16v128.86zM208 384c-8.836 0-16-7.164-16-16V144c0-8.836 7.164-16 16-16s16 7.164 16 16v224c0 8.836-7.164 16-16 16zm-96 0c-8.836 0-16-7.164-16-16V144c0-8.836 7.164-16 16-16s16 7.164 16 16v224c0 8.836-7.164 16-16 16z"></path></svg>
        </label>
    </footer>
  </body>
</html>
