<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />

    <title>Yard Beer Explained</title>

    <!-- [if lt IE 9]>
      <script src="files/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <a href="index.html"><img src="images/logo.svg" alt="Passable Beer Reviews logo."></a>

      <nav class="topnav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">Passable Beer Explained</a></li>
          <li><a class="active" href="favoritebeers.html">Favorite Beers</a></li>
          <li><a href="contact.html">Suggestion Box</a></li>
        </ul>
      </nav>
    </header>

    <article>

      <h1>Why Heineken is worse than PBR</h1>

      <p>Combine the ever-growing number of beers with an extremely online clientele and you get an ever-growing number of opinions about which beers are the best and which are the worst. I try to avoid  online discussions in all forms, so don’t @ me about his list. I am merely providing them to give you some context about my personal taste. And/or lack thereof.</p>

      <h3><span class="firstletter">F</span>avorites</h3>

      <ol>
        <li><strong>Free</strong> — I will drink <em>almost</em> any beer that’s free and I will <em>almost</em> always enjoy it. Exceptions to this rule are the entries on my <a href="#leastfavorite">Least Favorite</a> list and most anything that qualifies or markets itself as malt liquor.</li>
        <li><strong><a href="about.html">“Yard Beer”</a></strong> — There are few things in the world I enjoy more than an ice cold Passable Beer on a hot day.</li>
        <li><a href="https://www.ashevillebrewing.com/beer/shiva-ipa/">Shiva IPA</a> — I have since tasted beers I would classify as better than Shiva, but she was the first craft beer I <em>loved</em>. I’ve loved her since I was 21, making her the longest-running love affair of my life.</li>
        <li><a href="https://www.bellsbeer.com/beer/year-round/two-hearted-ale">Bell’s Two-Hearted</a> — Just really, really good. Strong but balanced. Chances are, I could go for one right now. As you are reading this.</li>
        <li><a href="http://www.foothillsbrewing.com/brews/jade-ipa/">Foothills Jade IPA</a> — Spoiler alert: I like IPAs as a general rule. That said, there can be a sameness to a lot of them. Jade, so named because of the hop variety used, is one that stands out to me for being a little different but still recognizably an IPA.</li>
        <li><a href="https://sierranevada.com/beer/seasonal/celebration-ipa">Sierra Nevada Celebration Ale</a> — There’s a reason Sierra Nevada is one of the largest (and still independent) craft brewers in the United States. Celebration is a good reminder why, and another reason to look forward to the holiday season.</li>
        <li><a href="http://pabstblueribbon.com/">PBR</a> — I am of the opinion that everyone should have a favorite <a href="about.html">yard beer</a>. PBR is mine.</li>
        <li><a href="https://www.millerlite.com/">Miller Lite</a> — I am of the opinion that everyone should have a low-calorie alternative, if needed, for their favorite <a href="about.html">yard beer</a>. Miller Lite is mine.</li>
        <li><a href="https://www.medallalight.com/">Medalla Light</a> — During happy hour on Puerto Rico in 2010, you could get a Medalla Light for almost nothing at any bar in San Juan. I will always associate Medalla Light with my honeymoon. It is also not bad, but like most passable beers, it needs to start ice cold and get consumed before it warms even one degree.</li>
        <li><a href="http://www.caribbrewery.com/">Carib</a> — Basically, to me, the Medalla Light of Grenada.</li>
      </ol>

      <a name="leastfavorite"></a>
      <h3><span class="firstletter">L</span>east Favorite</h3>

      <ol><a name="leastfavorite"></a>
        <li><a href="https://www.theheinekencompany.com/">Heineken</a> — No, Heineken is not the worst beer on the market, but when it comes to the all-important price-to-taste ratio, Heineken might be in a class by itself. Any beer that comes in a clear or green bottle is probably going to be bad because light skunks beer. For Heineken this a feature, not a bug. And all of that would be fine except this self-important garbage beer has the audacity to market and price itself as a premium beer experience. I’d admire the chutzpah behind Heineken’s strategy more if the beer didn’t taste like it was brewed with a sweat sock. Trivia: Inexplicably popular in Puerto Rico. Although, to be fair, they also sold some stuff called <a href="http://gasolinadrink.com/usa/">Gasolina</a> there, so maybe Heineken fits the market.</li>
        <li><a href="https://www.bluemoonbrewingcompany.com/">Blue Moon</a> — Ugh. This unreasonable facsimile of a Belgian white style predisposed me to not even try Belgian beers for a long time. And while they’re not exactly my favorite beers, there are a lot of really great Belgian-style white/wheat beers. It’s a shame Blue Moon is out there giving them a bad name. I could probably throw Shock Top on here, but I have never tried a Shock Top thanks to Blue Moon.</li>
        <li><a href="https://www.milbest.com">Milwaukee’s Best Ice</a> — When I was in college the finest parties all served various forms of Beast (Regular, Light, and Ice). I remember Regular and Light being bad but drinkable when cold. Ice, popular for its higher alcohol content, took all the bad qualities of its siblings and turned them up to 11. If this beer were really the Best that Milwaukee could produce, we’d be legally obligated as a society to peacefully relocate the city’s residents and burn it to the ground.</li>
      </ol>

      <p>Here's why Heineken is worse than PBR. You can get a an ice-cold Heineken and it will still taste like skunky cardboard. If you get an ice cold PBR it will only offer a hint, at worst, of skunky cardboard. PBR also lacks pretension and is cheaper.</p>

      <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

      <aside class="beer-links bottom">
        <a class="beer-circle one" href="coronafamiliar.html">Corona Familiar</a>
        <a class="beer-circle two" href="fosters.html">Foster's</a>
        <a class="beer-circle three" href="narragansett.html">Narragansett</a>
        <a class="beer-circle four" href="pabstapa.html">Pabst APA</a>
      </aside>

    </article>

    <footer>
      <p>All images and text &copy; 2018</p>

        <input type="checkbox" id="bottomnav-toggle">
        <nav class="bottomnav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Passable Beer Explained</a></li>
            <li><a class="active" href="favoritebeers.html">Favorite Beers</a></li>
            <li><a href="contact.html">Suggestion Box</a></li>
          </ul>
        </nav>
        <label for="bottomnav-toggle" class="bottomnav-toggle-label">Menu
          <svg aria-hidden="true" data-prefix="fas" data-icon="beer" class="svg-inline--fa fa-beer fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 424 512"><path fill="currentColor" d="M368 96h-48V56c0-13.255-10.745-24-24-24H24C10.745 32 0 42.745 0 56v400c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24v-42.11l80.606-35.977C429.396 365.063 448 336.388 448 304.86V176c0-44.112-35.888-80-80-80zm16 208.86a16.018 16.018 0 0 1-9.479 14.611L320 343.805V160h48c8.822 0 16 7.178 16 16v128.86zM208 384c-8.836 0-16-7.164-16-16V144c0-8.836 7.164-16 16-16s16 7.164 16 16v224c0 8.836-7.164 16-16 16zm-96 0c-8.836 0-16-7.164-16-16V144c0-8.836 7.164-16 16-16s16 7.164 16 16v224c0 8.836-7.164 16-16 16z"></path></svg>
        </label>
    </footer>

  </body>
</html>
