<% include partials/boilerplate %>

    <title>Review — Hamms</title>

    <!-- [if lt IE 9]>
      <script src="files/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <% include partials/header %>

    <article>

      <h1>Hamms</h1>

      <img class="can" src="images/hamms.png" alt="A bottle of Corona Familiar.">
      <hr />

      <p>Hamm’s isn’t good. Let’s start there. My wife is right because it is too sweet, and unlike when the NWO declared themselves Just Too Sweet, this is not a good thing.</p>

      <p>It also isn’t bad. That needs to be said too. This is about the highest praise I can give a beer priced in Beast range. The price-to-taste ratio on this lager, revitalized nationally to <a href=”https://www.millercoorsblog.com/news/hamms-beer-resurgent/”>“strengthen the MillerCoors economy portfolio”</a>, is quite high. If I ever formalized such a chart, Hamm's, would stand out.</p>

      <p>Hamm’s claims to be brewed “from the purest water and choicest barley malt, grain and hops.” We all know there’s a non-zero chance Hamm’s is made with barely treated sewer water and grains grown in the fertile fields of Chernobyl, but let’s grant their claims or purity and choicest whatever as true. They’re still leaving a key ingredient listed on their own <a href=”https://www.millercoors.com/breweries/miller-brewing-company/brands-we-brew”>website</a>: Corn Syrup.</p>

      <input id="info-toggle" type="checkbox">
      <label id="info-toggle-label" for="info-toggle">Beer Stats & Info</label>
      <aside class="infobox">
        <ul>
          <li><strong>Brewed by: </strong>MillerCoors</li>
          <li><strong>Style: </strong>American Adjunct Lager</li>
          <li><strong>ABV: </strong>4.6%</li>
          <li><strong>Commercial Description: </strong>“First brewed in 1865 in Minnesota, the Land of Sky Blue Waters, Hamm’s uses the purest water and the choicest barley malt, grain and hops.”</li>
          <li><strong>A Woman's Perspective: </strong>“Too sweet. I would only drink it if my other options were pretty bad.”</li>
          <li><strong>Is it Passable Beer?: </strong>For the price — literally, Milwaukee’s Best territory — Hamm’s is extremely passable.</li>
        </ul>
      </aside>

      <p>I’m not mad about the inclusion of straight-up corn syrup in a beer this cheap. Hell, I expected worse. I am mad about the need to hide the information on the website. Guys, you made a fairly inoffensive beer <em>while</em> using corn syrup. Own it. Brag about it. Rub it in the noses of every sour-beer loving hipster living in “Not Real ‘Merica”. Speaking of…</p>

      <p>My first encounter with Hamm’s came at the most recent World Beer Fest, which is not as big a deal as it sounds, but is still four straight hours of beer sampling. Towards the end of my time there, I made my way to the section labeled, and I’m not making this up, “’Merica”.</p>

      <p>Having already sampled most of the ‘Merica offerings at other times in my life, I gravitated to one I hadn’t tasted before, Hamm’s. And it blew me away. I thought it was great. I learned two lessons that day: 1) Do not trust your judgement after four hours of drinking beer and 2) Do not pay good money to attend a beer festival past a certain age. I no longer bounce back as quickly as I used to.</p>

      <p>While it’s not nearly as good as my first impression led me to believe, for the price, Hamm’s is a damn good Passable Beer. I give it my highest recommendation.</p>

      <h3><span class="firstletter">O</span>ther Ratings</h3>

      <aside class="ratings">
        <div><a href="https://www.ratebeer.com/beer/hamms/7339/">RateBeer:</a>1.87/5</div><br />
        <div><a href="https://www.beeradvocate.com/beer/profile/320/870/">Beeradvocate:</a>2.8/5</div>
      </aside>

      <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

      <aside class="beer-links bottom">
        <% include partials/beerlinks %>
      </aside>

    </article>

    <% include partials/footer %>
    <script src="js/pagesize.js"></script>
    <script src="js/active-class_review.js"></script>
  </body>
</html>
