<% include partials/boilerplate %>

    <link href="https://fonts.googleapis.com/css?family=Damion" rel="stylesheet" />
    <title>Passable Beer Reviews</title>
  </head>

  <body id="homebody">
    <% include partials/header %>

    <div id="top-home-panel">
      <h1>Handcrafted<br />
          since 2018</h1>
      <h2>"Reviews for the Rest of Us"</h2>

      <div class="beer-links home">
        <% include partials/beerlinks %>
        <script src="js/add-home-circle-class.js"></script>
      </div>
    </div>

    <h2><span class="firstletter">A</span>bout the Reviewer</h2>

    <div id="mid-home-panel">
      <p>The author of Passable Beer Reviews hates to admit it now, but after his first sip of beer, a Natural Ice, he had two thoughts: “Hey, this is pretty good,” and, “I like beer.” This notion, like many others he has had during the ensuing *17* years, was half right. The author, now a 38-year-old husband and father, still likes beer — almost all of it. He started Passable Beer Reviews to separate the inoffensive adjunct lagers from those that should be shunned by polite society, like Natty Ice. To learn more about his personal beer preferences, visit the <a href="favoritebeers.html">favorite beers page</a> dedicated to the topic.</p>

      <figure>
        <img src="images/author.jpg" alt="The author of Passable Beer Reviews standing next to a cardboard cutout of the former Most Interesting Man in the World.">
        <figcaption>
          Former Most Interesting Man in the World (right) shares a drink with the current, like, 99th Most Interesting Man in the World.
        </figcaption>
      </figure>
    </div>

    <h2><span class="firstletter">S</span>uggest a Beer</h2>

    <div id="bottom-home-panel">

      <img src="images/beerrecommendation.jpg" alt="The author of Passable Beer Reviews standing next to a cardboard cutout of the former Most Interesting Man in the World.">

      <form action="example.com">
        <label>
          <input type="text" required/>
          <span class="label-text">First name</span>
        </label>
        <label>
          <input type="text" required/>
          <span class="label-text">Last name</span>
        </label>
        <label>
          <input type="text" required/>
          <span class="label-text">Email</span>
        </label>
        <label>
          <textarea required></textarea>
          <span class="textarea-text">Beer suggestion</span>
        </label>

        <input type="submit" value="Submit">
      </form>

  </div>

    <% include partials/footer %>
    <script src="js/active-class_article.js"></script>
  </body>
</html>
