<!DOCTYPE html>
<html lang="en-US" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, intitial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="style.css" />

    <title>Review — Pabst American Pale Ale</title>

    <!-- [if lt IE 9]>
      <script src="files/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>
    <header>
      <a href="index.html"><img src="images/logo.svg" alt="Passable Beer Reviews logo."></a>

      <!-- <div class="review-dropdown">
        <button class="review-dropdown-btn">Reviews</button>
        <div class="review-dropdown-content">
          <a href="coronafamiliar.html">Corona Familiar</a>
          <a href="fosters.html">Foster's Lager</a>
          <a href="narragansett.html">Narragansett Lager</a>
          <a class="active" href="pabstapa.html">Pabst American Pale Ale</a>
        </div>
      </div> -->

      <nav class="topnav">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">Passable Beer Explained</a></li>
          <li><a href="favoritebeers.html">Favorite Beers</a></li>
          <li><a href="contact.html">Suggestion Box</a></li>
        </ul>
      </nav>
    </header>

    <article>

      <h1>Pabst American Pale Ale</h1>

      <img class="can" src="images/pabstapacan.png" alt="A can of Pabst American Pale Ale.">
      <hr />

      <p>My in-laws tell a story about an acquaintance who, upon taking his first sip of wine, complimented it by saying, “I’ve had better, but none cheaper.” I initially felt the same way about my most recent discovery, Pabst American Pale Ale. Until I did some math.</p>

      <p>My local grocery store sells four 16-oz. cans of Pabst APA for $5.99. That’s roughly $.09-per-oz. That same store often has 12 packs of Sierra Nevada Pale Ale (or something of similar quality) on sale for $12.99—also $.09-per-oz. At that price, I can’t recommend Pabst APA—it just doesn’t compete taste-wise.</p>

      <input id="info-toggle" type="checkbox">
      <label id="info-toggle-label" for="info-toggle">Beer Stats & Info</label>
      <aside class="infobox">
        <ul>
          <li><strong>Brewed by: </strong>Pabst</li>
          <li><strong>Style: </strong>American Pale Ale</li>
          <li><strong>ABV: </strong>5.0%</li>
          <li><strong>Commercial Description: </strong>"We brewed this beer for those who refuse to be ranked and filed: those who are inventing their own American Dream with grit, optimism and ingenuity. Made with All-American Chinook, Liberty, and Cascade hops for a refreshing, bright citrus flavor. Straightforward and unpretentious, Pabst American Pale Ale is beer for the rest of us."</li>
          <li><strong>A Woman's Perspective: </strong>“Ewwww. Yes, it is.” was my wife’s reply when I said “Hmmm, uninteresting, but not heinous.”</li>
          <li><strong>Is it Passable Beer?: </strong>For our purposes? No. Just grab whatever Pale Ale is on sale that week.</li>
        </ul>
      </aside>

        <p>It does, however, accomplish what it sets out to do. Pabst APA is as unpretentious and straightforward as it claims to be. But it only hints at flavors other beers in its price-range fully explore. The taste is exactly what you’d expect a PBR brewed with just enough Chinook, Liberty, and Cascade hops to taste like. I’ll have to take Pabst at their word and concede those three hops are in there, I just couldn’t tell you where.</p>

        <p>I guess the result tastes like a beer for the “rest of us.” But if you subtract out the beer drinkers who have stuck with the same brand exclusively for 30 years and the craft beer snobs, I’m not sure that “the rest of us” that are left constitutes enough of a market to justify this beer’s existence. It’s almost like Pabst made a decent-enough <em>American</em> Pale Ale but left it entirely without a home of its own.</p>

        <h3><span class="firstletter">O</span>ther Ratings</h3>

        <aside class="ratings">
          <div><a href="https://www.ratebeer.com/beer/pabst-american-pale-ale/571007/">RateBeer:</a>3.0/5</div><br />
          <div><a href="https://www.beeradvocate.com/beer/profile/447/327725/">Beeradvocate:</a>3.47/5</div>
        </aside>

        <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

        <aside class="beer-links bottom">
          <a class="beer-circle one" href="coronafamiliar.html">Corona Familiar</a>
          <a class="beer-circle two" href="fosters.html">Foster's</a>
          <a class="beer-circle three" href="narragansett.html">Narragansett</a>
          <a class="beer-circle four active" href="pabstapa.html">Pabst APA</a>
        </aside>

    </article>

    <footer>
      <p>All images and text &copy; 2018</p>

        <input type="checkbox" id="bottomnav-toggle">
        <nav class="bottomnav">
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Passable Beer Explained</a></li>
            <li><a href="favoritebeers.html">Favorite Beers</a></li>
            <li><a href="contact.html">Suggestion Box</a></li>
          </ul>
        </nav>
        <label for="bottomnav-toggle" class="bottomnav-toggle-label">Menu
          <svg aria-hidden="true" data-prefix="fas" data-icon="beer" class="svg-inline--fa fa-beer fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 424 512"><path fill="currentColor" d="M368 96h-48V56c0-13.255-10.745-24-24-24H24C10.745 32 0 42.745 0 56v400c0 13.255 10.745 24 24 24h272c13.255 0 24-10.745 24-24v-42.11l80.606-35.977C429.396 365.063 448 336.388 448 304.86V176c0-44.112-35.888-80-80-80zm16 208.86a16.018 16.018 0 0 1-9.479 14.611L320 343.805V160h48c8.822 0 16 7.178 16 16v128.86zM208 384c-8.836 0-16-7.164-16-16V144c0-8.836 7.164-16 16-16s16 7.164 16 16v224c0 8.836-7.164 16-16 16zm-96 0c-8.836 0-16-7.164-16-16V144c0-8.836 7.164-16 16-16s16 7.164 16 16v224c0 8.836-7.164 16-16 16z"></path></svg>
        </label>
    </footer>
  </body>
</html>
