body {
  font: 100% $font-family;
  line-height: 1;
}

p {
  padding: 0 2em 1em 2em;
  line-height: 1.4;
  opacity: 0.9;
}

strong, h1, h2, h3 {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  color: white;
}

h1, h2, h3 {
  font-family: $font-headline;
  text-align: center;
}

h1 {
  font-size: 3em;
  color: $blue;
  padding: 0.25em 0;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}

.active {color: $gray;}

.firstletter {
  font-size: 2em;
  color: $red;
}

/* Inline Link Styles ---------------------------------------------------     */

p a, .ratings a, article li a {
	font-weight: bold;
	color: inherit;
	position: relative;
}

p a:before, .ratings a:before, article li a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: $red;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

p a:hover, .ratings a:hover, article li a:hover {color: $red;}

p a:hover:before, .ratings a:hover:before, article li a:hover:before {
	visibility: visible;
	transform: scaleX(1);
}

/* Hover Transitions */
p a, .ratings a, article li a, input[type=submit] {
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

/* END inline link styles --------------------------------------------------- */

.inline-ul {width: 70%;}

.inline-ul, ol {
  margin: 0 auto 1em auto;
  list-style-type: disc;
  line-height: 1.4;

  li {
    opacity: 0.9;
  }
}

ol {
  list-style-type: decimal;
  padding: 0 2em;

  @supports (display: grid) {
    @media only screen and (min-width: 655px) {
       grid-column: 1 / 3;
    }

    @media only screen and (min-width: 960px) {
      grid-column: 1 / 5;
    }

    @media only screen and (min-width: 1080px) {
      max-width: 760px;
    }
  }
}

li {padding: 0.25em;}

hr {
  @supports (display: grid) {
    @media only screen and (min-width: 655px) {
      display: block;
      visibility: visible;
      width: 100%;
      grid-column: 1 / 3;
      border-top: 3px solid var(--blue, #102C73);
      margin: 0 1.5em 1em 1.5em;
    }

    @media only screen and (min-width: 960px) {
      grid-column: 1 / 4;
    }
  }
}
