
<% include partials/boilerplate %>

    <meta name="description" content="Corn Syrup in Beer Explained" />
    <meta name="keywords" content="beer, corn syrup, adjuncts" />

    <meta property="og:title" content="Corn Syrup in Beer Explained">
    <meta property="og:description" content="Bottom line: If you’re drinking a Bud, Miller, or Coors while worrying about your health, you’re doing it wrong.">
    <meta property="og:image" content="https://passablebeers.com/images/homeback.jpg">
    <meta property="og:url" content="https://passablebeers.com/adjuncts.html">
    <meta property="og:site_name" content="Passable Beer Reviews">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:alt" content="Two beer bottles touching in front of a sunset.">

    <title>Corn Syrup in Beer Explained</title>
  </head>

  <body>
    <% include partials/header %>

    <article class="article">

      <h1>Corn Syrup in Beer Explained</h1>

      <p>In an upset that could have earned one a fortune on the prop bet market, corn syrup emerged as Super Bowl LIII’s biggest villain (non-football division). In case you missed it:</p>

      <div class="videowrapper"><iframe src="https://www.youtube.com/embed/LkHvj_KEHBk" frameborder="0" allow="accelerometer; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>

      <p>My immediate reaction was “Where in the world does a beer brewed with rice get off calling out other beers for using corn?” Then I wondered which of AB InBev’s many fine products also used corn/corn syrup? Based on available information from Ab InBev’s own <a href="https://www.tapintoyourbeer.com/index.cfm">tapintoyourbeer.com</a> the answer is: A lot of them. Here is just a partial list:</p>

      <ul class="inline-ul">
        <li>Bud Ice</li>
        <li>Bud Light Lime</li>
        <li><a href="/reviews/budlightplatinum.html">Bud Light Platinum</a></li>
        <li>Budweiser Select and Select 55</li>
        <li>Busch, including Light and Ice Varieties</li>
        <li>Natural Light, Natural Ice, and our good friend, <a href="/reviews/nattydaddy.html">Natty Daddy</a></li>
      </ul>

      <p>We can now safely add rank hypocrisy to AB InBev’s many and sundry other crimes.</p>

      <p>I was going to save the adjunct topic for a larger glossary page, but because the Dilly Dilly boys delivered corn syrup to a couple of castles on Super Bowl Sunday, let’s just tackle brewing additives now. I am guilty of using the term adjunct to imply poor quality at times, but technically an adjunct is any sugar source other than barley malt used in brewing beer.</p>

      <p>By tradition, beer only uses barley malt for the sugar. Anything beyond malt, water, hops and yeast is generally considered an adjunct. For funsies, here are some common adjuncts:</p>

      <ul class="inline-ul">
        <li>Rye and Oats</li>
        <li>Fruits and Honey</li>
        <li>Herbs and Spices</li>
        <li>Chocolate and Coffee</li>
        <li>Corn and Rice</li>
      </ul>

      <p>Any of the above can be used for good or ill, depending on the brewery. One of my own favorite homebrew <a href="https://www.homebrewersassociation.org/homebrew-recipe/beer-recipe-of-the-week-pliny-the-toddler/">recipes</a> uses plain old table sugar. It’s fantastic. A lot of those fancy Double IPAs use just straight sugar to juice up the ABV. One of the best beers I’ve had in the last 5 or so years was an Imperial Rice IPA, which was as delicious and easy-to-drink as it was high in ABV.</p>

      <p>Corn syrup, despite Bud Light’s assertion, does not automatically indicate a beer is bad or unhealthy. Corn and rice, in addition to being cheap sources of sugar, tend to impart a lightness in color and taste. Both AB InBev and MillerCoors are looking to make bland, straw-colored beers while keeping production costs as low as possible. Corn and rice both help in the endeavor.</p>

      <p>So, should you worry about corn syrup being in your beer? I would argue if you’re worried about what’s in your beer, you may want to remember that the end product is a literal poison and therefore said poison’s sugar source shouldn’t overly concern you.</p>

      <p>Bottom line: If you’re drinking a Bud, Miller, or Coors while worrying about your health, you’re doing it wrong. I hope those Dilly Dilly guys ended up getting the Plague.</p>

      <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

      <aside class="beer-links bottom">
        <% include partials/beerlinks %>
      </aside>

    </article>

    <% include partials/footer %>
    <script>

      // Add active class to current page
      var elements = document.getElementsByTagName("nav")[0].getElementsByTagName("a");
      var listLength = elements.length;
      var current = window.location.pathname.split("/")[1];
      if (current.split(".")[1] !== "html") {
        current += ".html";
      }

      for (let i = 0; i < listLength; i++) {
        if (elements[i].toString().split("/")[3] === current) {
          elements[i].classList.add("active");
          break;
        }
      }

    </script>
  </body>
</html>
