<% include partials/boilerplate %>

    <meta name="description" content="As for the beer itself Bud Copper, unlike whiskey, does not age well." />
    <meta name="keywords" content="beer, reviews, budweiser copper, bud copper" />

    <meta property="og:title" content="Review — Budweiser Copper Lager">
    <meta property="og:description" content="As for the beer itself Bud Copper, unlike whiskey, does not age well.">
    <meta property="og:image" content="https://passablebeers.com/images/budcopper.png">
    <meta property="og:url" content="https://passablebeers.com/reviews/budcopper.html">
    <meta property="og:site_name" content="Passable Beer Reviews">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:alt" content="A bottle of Budweiser Reserve Copper Lager.">

    <title>Review — Budweiser Copper</title>

  </head>

  <body>
    <% include partials/header %>

    <article>

      <h1>Budweiser Copper</h1>

      <img class="can" src="/images/budcopper.png" alt="A bottle of Budweiser Reserve Copper Lager.">
      <hr />

      <p>Budweiser Copper Lager is the most American beer of 2019. A pair of huge multi-national conglomerates weaponizing America's collective self-regard to turn a profit is maybe too perfect a metaphor for the current State of the Union.</p>

      <p>Billed as an "all-American" collaboration, Bud Copper is the child of Anheuser-Busch, a division of Belgian-owned AB InBev, and Jim Beam, owned by Japan-based Suntory Holdings. I wouldn't feel the need to mention the foreign ownership thing at all if brands like Budweiser weren't constantly wrapping themselves in Old Glory and harping on how "real" and "American" they are.</p>

      <p>Before I savage Bud Copper further, Japanese ownership of a popular bourbon reminds me of the most mind-blowing thing I learned in Scotland. We spent a night in a castle that had a whisky bar downstairs. When the bartender recommended a Japanese whiskey, I said I'd never heard of such a thing. He then told me that Japan produces arguably the best whiskey in the world. He wasn't kidding. I had to travel to the birthplace of Scotch to learn about Japanese whiskey. Life is so weird and wonderful sometimes.</p>

      <input id="info-toggle" type="checkbox">
      <label id="info-toggle-label" for="info-toggle">Beer Stats & Info</label>
      <aside class="infobox">
        <ul>
          <li><strong>Brewed by: </strong>Anheuser-Busch</li>
          <li><strong>Style: </strong>American Amber</li>
          <li><strong>ABV: </strong>6.2%</li>
          <li><strong>Commercial Description: </strong>"This is a flavorful American Copper Lager brewed with Two-row barley and aged on real Jim Beam Bourbon barrel staves for a toasted oak aroma, a deliciously nutty taste with caramel rye and vanilla notes, and a smooth finish."</li>
          <li><strong>A Woman's Perspective: </strong>"That is not good. It smells OK. I don't have anything clever to say about it. It's just bad."</li>
          <li><strong>Is it Passable Beer?: </strong>As an amber lager, it is neither technically a yard beer nor any good.</li>
        </ul>
      </aside>

      <p>I remain flummoxed by AB InBev's decision to keep pumping out "reserve" versions of crappy beer. One can safely assume that AB InBev has an advanced analytics department. I want to see what piece of research tells them that it's more profitable to develop, produce, and market something like Bud Copper than it is to just buy up another craft brewery and keep cashing dem checks.</p>

      <p>As for the beer itself Bud Copper, unlike whiskey, does not age well. I drank a six-pack of Bud Copper to review when it came out months ago and remember it being mildly enjoyable but obviously forgettable. Not wanting to invest in another six-pack, I made a Bud Copper part of one of those "make your own six-pack" deals at the grocery store.</p>

      <p>This solo bottle did not even approach being mildly enjoyable, and the flavors listed on the bottle — "nutty taste with Caramel Rye and Vanilla notes" — were overpowering and impossible to forget. Time spent outside of the cooler apparently does more harm to Bud Copper than the "King of Beers", which always tastes like a Budweiser (for better or for worse) unless you bake it in the sun for a week.</p>

      <p>If you love amber beers, Budweiser, and Jim Beam then Bud Copper is the beer for you. For the remaining 99.9% of the world, I'd recommend seeking out a truly great American beer and some Japanese whiskey. Good luck finding the latter. If you do obtain/have a bottle, give me a call. We should hang out.</p>

      <h3><span class="firstletter">O</span>ther Ratings</h3>

      <aside class="ratings">
        <div><a href="https://www.ratebeer.com/beer/budweiser-reserve-copper-lager-jim-beam/652733/">RateBeer:</a>3.03/5</div><br />
        <div><a href="https://www.beeradvocate.com/beer/profile/29/365203/">Beeradvocate:</a>3.47/5</div>
      </aside>

      <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

      <aside class="beer-links bottom">
        <% include partials/beerlinks %>
      </aside>

    </article>

    <% include partials/footer %>

    <script>

      // Set animation height
      if (document.body.scrollWidth >= 960) {
        document.documentElement.style.setProperty('--pour-height',
                                        -(document.body.scrollHeight) + "px");
      }

      // Add active class to current page
      var elements = document.getElementsByClassName("beer-circle");
      var listLength = elements.length;
      var current = window.location.pathname.split("/")[2];
      if (current.split(".")[1] !== "html") {
        current += ".html";
      }

      for (let i = 0; i < listLength; i++) {
        if (elements[i].toString().split("/")[4] === current) {
          elements[i].classList.add("active");
          break;
        }
      }

    </script>
  </body>
</html>
