<% include partials/boilerplate %>

    <meta name="description" content="Bud Light Platinum, one of the latest unfortunate byproducts of the craft beer industry." />
    <meta name="keywords" content="beer, review, bud light platinum" />

    <meta property="og:title" content="Bud Light Platinum Review">
    <meta property="og:description" content="Bud Light Platinum, one of the latest unfortunate byproducts of the craft beer industry.">
    <meta property="og:image" content="https://passablebeers.com/images/blplatinum.png">
    <meta property="og:url" content="https://passablebeers.com/reviews/budlightplatinum.html">
    <meta property="og:site_name" content="Passable Beer Reviews">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:alt" content="A bottle of Bud Light Platinum.">

    <title>Review — Bud Light Platinum</title>

  </head>

  <body>
    <% include partials/header %>

    <article>

      <h1>Bud Light Platinum</h1>

      <img class="bottle" src="/images/blplatinum.png" alt="A bottle of Bud Light.">
      <hr />

      <p>If good intentions pave the road to hell, then I've always thought the asphalt would be made from unintended consequences. Case in point: Bud Light Platinum, one of the latest unfortunate byproducts of the craft beer industry.</p>

      <p>Craft beer has bestowed upon the beer-consuming public many and varied wonders, and for those I will be forever grateful. And then there's Bud Light Platinum. When Big Beer isn't busy buying up beloved craft <a href="https://www.foodandwine.com/news/ab-inbev-buyout-has-forced-wicked-weed-cancel-its-annual-funky-beer-festival">breweries</a> to maintain its market share, it's busy trying to convince people to buy a "premium" Bud Light for same price as a craft beer.</p>

      <input id="info-toggle" type="checkbox">
      <label id="info-toggle-label" for="info-toggle">Beer Stats & Info</label>
      <aside class="infobox">
        <ul>
          <li><strong>Brewed by: </strong>AB-InBev</li>
          <li><strong>Style: </strong>American Light larger</li>
          <li><strong>ABV: </strong>6.0%</li>
          <li><strong>Commercial Description: </strong>"Bold taste with a smooth, slightly sweet finish. When you grab one of our signature blue bottles, be ready to make it platinum."</li>
          <li><strong>A Woman's Perspective: </strong>"It taste like a Bud Light."</li>
          <li><strong>Is it Passable Beer?: </strong>Unlike the price, the taste is not offensive.</li>
        </ul>
      </aside>

      <p>If you like Bud Light, there's a decent chance you will like the Platinum version even more. It tastes like a cleaner Bud Light with less of the unpleasant aftertaste that made me renounce Bud products — formerly my go-to when I could afford "good beer" — in my early 20's.</p>

      <p>And the AB InBev brewers outdid themselves somewhere in the brewing process because Bud Light Platinum clocks in at 6.0% alcohol by volume and 137 calories. By comparison Budweiser — aka Bud Heavy — is 5.0% and 145 calories. Generally, there's a strong correlation between ABV and calories. That Platinum somewhat bucks this correlation is a testament to the brewing skill at AB InBev.</p>

      <p>If only they used their powers — and make no mistake, despite the usual output Anheuser-Busch employs some the best brewers in the world — for good. Instead, they charge, in my area, around $10 a six-pack for a slightly better Bud Light. That's almost criminal. There are many, many, better craft beers that are cheaper than that. And many more that don't cost much more.</p>

      <p>Speaking of criminals involved in a multi-national beer conglomerate, a special tip o' the cap to the editorial team responsible for letting this <a href="https://www.budlight.com/en/our-beers.html/">gem</a> through: "When you grab one of our signature blue bottles, be ready to make it platinum." Incomprehensible syntax may not help pave the road to hell, but it is a signpost that you may already living there.</p>

      <p>If, even after reading this, you still feel the need to "make it platinum," just buy the good beer of your choice and put the difference between it and Bud Light Platinum in a savings account. As I write this in late January 2019, actual platinum costs about $26 per gram.</p>

      <h3><span class="firstletter">O</span>ther Ratings</h3>

      <aside class="ratings">
        <div><a href="https://www.ratebeer.com/beer/corona-familiar-2018-/599046/">RateBeer: </a>1.66/5</div><br />
        <div><a href="https://www.beeradvocate.com/beer/profile/29/76899/">Beeradvocate: </a>2.23/5</div>
      </aside>

      <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

      <aside class="beer-links bottom">
        <% include partials/beerlinks %>
      </aside>

    </article>

    <% include partials/footer %>
    <script>

      // Set animation height
      if (document.body.scrollWidth >= 960) {
        document.documentElement.style.setProperty('--pour-height',
                                        -(document.body.scrollHeight) + "px");
      }

      // Add active class to current page
      var elements = document.getElementsByClassName("beer-circle");
      var listLength = elements.length;
      var current = window.location.pathname.split("/")[2];
      if (current.split(".")[1] !== "html") {
        current += ".html";
      }

      for (let i = 0; i < listLength; i++) {
        if (elements[i].toString().split("/")[4] === current) {
          elements[i].classList.add("active");
          break;
        }
      }

    </script>
  </body>
</html>
