<% include partials/boilerplate %>

    <meta name="description" content="Hamm's Lager review" />
    <meta name="keywords" content="beer, reviews, hamms" />

    <title>Review — Bud Light Platinum</title>

  </head>

  <body>
    <% include partials/header %>

    <article>

      <h1>Bud Light Platinum</h1>

      <img class="bottle" src="images/blplatinum.png" alt="A bottle of Bud Light blplatinum.">
      <hr />



      <input id="info-toggle" type="checkbox">
      <label id="info-toggle-label" for="info-toggle">Beer Stats & Info</label>
      <aside class="infobox">
        <ul>
          <li><strong>Brewed by: </strong>AB-InBev</li>
          <li><strong>Style: </strong>American Light larger</li>
          <li><strong>ABV: </strong>6.0%</li>
          <li><strong>Commercial Description: </strong>"Bold taste with a smooth, slightly sweet finish. When you grab one of our signature blue bottles, be ready to make it platinum."</li>
          <li><strong>A Woman's Perspective: </strong>"It taste like a Bud Light."</li>
          <li><strong>Is it Passable Beer?: </strong>Unlike the price, the taste is not offensive.</li>
        </ul>
      </aside>



      <h3><span class="firstletter">O</span>ther Ratings</h3>

      <aside class="ratings">
        <div><a href="https://www.ratebeer.com/beer/corona-familiar-2018-/599046/">RateBeer: 1.66/5</a></div><br />
        <div><a href="https://www.beeradvocate.com/beer/profile/29/76899/">Beeradvocate: 2.23/5</a></div>
      </aside>

      <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

      <aside class="beer-links bottom">
        <% include partials/beerlinks %>
      </aside>

    </article>

    <% include partials/footer %>
    <script src="js/pagesize.js"></script>
    <script src="js/active-class_review.js"></script>
  </body>
</html>
