<% include partials/boilerplate %>

    <meta name="description" content="Passable Beer Reviews' suggestion box." />
    <link rel="canonical" href="https://passablebeers.com/contact.html" />

    <title>Suggestion Box</title>
  </head>

  <body>
    <% include partials/header %>

    <h1>Suggest a Beer</h1>

    <div id="suggestion-box">
      <img src="/images/beerrecommendation.jpg" alt="The author of Passable Beer Reviews standing next to a cardboard cutout of the former Most Interesting Man in the World.">

      <form id="contact-form" action="/contact" method="post">

        <label>
          <input type="text" name="first" required/>
          <span class="label-text">First name</span>
        </label>

        <label>
          <input type="text" name="last" required/>
          <span class="label-text">Last name</span>
        </label>

        <label>
          <input type="email" name="email" required/>
          <span class="label-text">Email</span>
        </label>

        <label>
          <textarea name="suggestion" required></textarea>
          <span class="textarea-text">Beer suggestion</span>
        </label>

        <input type="submit" value="Submit">

        <input type="hidden" id="recaptcha" name="recaptcha">
      </form>
    </div>

    <h2><span class="firstletter">R</span>ecent Reviews</h2>

    <aside class="beer-links">
      <% include partials/beerlinks %>
    </aside>

    <% include partials/footer %>
    <script>

      // Add active class to current page
      var elements = document.getElementsByTagName("nav")[0].getElementsByTagName("a");
      var listLength = elements.length;
      var current = window.location.pathname.split("/")[1];
      if (current.split(".")[1] !== "html") {
        current += ".html";
      }

      for (let i = 0; i < listLength; i++) {
        if (elements[i].toString().split("/")[3] === current) {
          elements[i].classList.add("active");
          break;
        }
      }

    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=6LelnsQZAAAAAKHMc4VPf5ik2F2gzMORq7-mHngi"></script>
    <script>
      grecaptcha.ready(function () {
        grecaptcha.execute('6LelnsQZAAAAAKHMc4VPf5ik2F2gzMORq7-mHngi', { action: 'submit' })
          .then(function (token) {
            document.getElementById('recaptcha').value = token;
          });
      });
    </script>
  </body>
</html>
