<% include partials/boilerplate %>

    <meta name="description" content="Corona Familiar review" />
    <meta name="keywords" content="beer, reviews, corona familiar"

    <title>Review — Corona Familiar</title>
  </head>

  <body>
    <% include partials/header %>

    <article>

      <h1>Corona Familiar</h1>

      <img class="bottle" src="/images/coronafamiliar.png" alt="A bottle of Corona Familiar.">
      <hr />

      <p>Despite being so objectionable in raw form that it requires a lime to drink, Corona Extra/Light (with a lime) is one of my favorite summertime treats. There’s a reason the Corona's marketing is beach-centered — the beer and warm weather suit each other.</p>

      <p>There’s also a reason that Corona Extra is one of the few beers to come in a clear bottle, and it doesn't speak well of Corona's quality. Light damages beer. This is one reason cans are actually better than bottles, and the sole reason that only an already heinous beer gets stored and shipped in clear or green bottles. You can’t skunk a beer, looking at you Rolling Rock and Heineken, that’s already skunked. They even take the time to put Schlitz Malt Liquor in a brown bottle, for goodness sake.</p>

      <input id="info-toggle" type="checkbox">
      <label id="info-toggle-label" for="info-toggle">Beer Stats & Info</label>
      <aside class="infobox">
        <ul>
          <li><strong>Brewed by: </strong>Cerveceria Modelo</li>
          <li><strong>Style: </strong>American Lager</li>
          <li><strong>ABV: </strong>4.8%</li>
          <li><strong>Commercial Description: </strong>“The best beers are made to be shared. That’s why Corona Familiar embraces the bright, crisp taste Corona is known for with a slightly fuller flavor, higher ABV, and shareable 32oz packaging. With strong ties to authenticity and heritage, Corona Familiar is best served in small gatherings with close friends and family, using the tradition of sharing to create meaningful experiences.”</li>
          <li><strong>A Woman's Perspective: </strong>“It’s ok. I’d rather drink a Corona.”</li>
          <li><strong>Is it Passable Beer?: </strong>Sure, but why go to the expense?</li>
        </ul>
      </aside>

      <p>As a fan of old familiar Corona, I was slightly intrigued by the introduction of Corona Familiar. The brown bottle lets you know that at least this beer is good enough to deserve the same light-deflecting brown bottle as the Milwaukee’s Best family. Although, to be fair, Milwaukee's Best in bottle-form only exists to help the government’s intelligence agency update their terror watch list — if you must buy Beast, please, just buy it by the case of cans as God intended.</p>

      <p>I guess the Corona marketing team was looking to make use of the “Familiar” title, so they bill this as a beer “best made to be shared.” What a load of crap. The best beers are made for you to consume and then recommend to your friends. The best beers are not made to be put into 32-ounce bottles, like Corona Familiar, and passed around at the party. That’s what the worst beers are for.</p>

      <p>Slight intrigue in Corona Familiar did not give way to high expectations, and I’m happy to report those expectations were mostly met. It’s a Corona that doesn’t need a lime. And… that’s about it. If it’s summer and I must have a Corona I’m sticking with an old, familiar friend in a clear bottle. Unless I can’t find a lime. In that case, I’ll grab a Dos Equis Amber. Which, come to think of it, is better with a lime too. Sensing a trend, here, beers of Mexican descent.</p>

      <h3><span class="firstletter">O</span>ther Ratings</h3>

      <aside class="ratings">
        <div><a href="https://www.ratebeer.com/beer/corona-familiar-2018-/599046/">RateBeer:</a>2.50/5</div><br />
        <div><a href="https://www.beeradvocate.com/beer/profile/213/7406/">Beeradvocate:</a>2.78/5</div>
      </aside>

      <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

      <aside class="beer-links bottom">
        <% include partials/beerlinks %>
      </aside>

    </article>

    <% include partials/footer %>
    <script src="/js/pagesize.js"></script>
    <script src="/js/active-class_review.js"></script>
  </body>
</html>
