<% include partials/boilerplate %>

    <meta name="description" content="Error page for Passable Beer Reviews." />

    <title>Error</title>
  </head>

  <body>
    <% include partials/header %>

    <h1><%= title %></h1>

    <article>
      <p>Sorry. Something went wrong.</p>
      <p>Error: <%= message %></p>
    </article>

    <h3><span class="firstletter">R</span>ecent Reviews</h3>

    <aside class="beer-links">
      <% include partials/beerlinks %>
    </aside>

    <% include partials/footer %>
  </body>
</html>
