<% include partials/boilerplate %>

    <meta name="description" content="Foster's Lager review" />
    <meta name="keywords" content="beer, reviews, fosters" />

    <title>Review — Foster's Lager</title>
  </head>

  <body>
    <% include partials/header %>

    <article>

      <h1>Foster's Lager</h1>

      <img class="can" src="/images/fosters.png" alt="A can of Foster's Lager.">
      <hr />

      <p>There was a moment, sometime in the 1990's, when attaching the word Australian to something automatically meant it was cool. The Aussies built up this cultural cachet with good reason. The list of Australian gifts to the world is long and distinguished:</p>

      <ul class="inline-ul">
        <li>AC/DC — The purest Rock 'n Roll band ever</li>
        <li>Mad Max — The franchise that gave us Fury Road, the best action movie ever</li>
        <li>Steve Irwin — Best Crocodile Hunter ever</li>
        <li>Paul Hogan — Best Crocodile Dundee ever</li>
        <li>Wi-Fi — Without which you probably would not be reading this</li>
      </ul>

      <p>Australia is also home to the Great Barrier Reef and evolution's greatest WTF moment, the platypus. Seeking to piggyback on all that down under cool, ad execs brought Outback Steakhouse and Foster's, "Australian for Beer", to America.</p>

      <input id="info-toggle" type="checkbox">
      <label id="info-toggle-label" for="info-toggle">Beer Stats & Info</label>
      <aside class="infobox">
        <ul>
          <li><strong>Brewed by: </strong>Foster's Brewing, a division of AB InBev</li>
          <li><strong>Style: </strong>Pale Lager</li>
          <li><strong>ABV: </strong>5.0%</li>
          <li><strong>Commercial Description: </strong>"Foster's Lager is a 5% alcohol by volume lager with a bright, golden color that delivers a refreshing beer-drinking experience with a crisp, clean hop finish."</li>
          <li><strong>A Woman's Perspective: </strong>My female perspective refused to try this based solely upon its reputation. As usual, I should have followed her lead.</li>
          <li><strong>Is it Passable Beer?: </strong>Not even a little bit, mate.</li>
        </ul>
      </aside>

      <p>First off, Australian is not a language. As a former penal colony of the United Kingdom, beer is Australian for beer. Second, I'd like to think the people who gave the world the Sydney Opera House have better taste than to export Foster's as an example of good Australian beer. Thankfully, Foster's, now a subsidiary of the AB-InBev swill super-conglomerate, isn't all the popular in Australia.</p>

      <p>Foster's starts off just like any other crappy adjunct lager. Those first few seconds aren't bad. And then the aftertaste kicks and you find yourself wondering what part of the brewing process makes the UK version of Foster's <a href="https://www.fosters.co.uk/faqs/">non-vegan</a>. What do they add to this brew that isn't some sort of sugar source, hop, water, or yeast? My guess: Kangaroo urine.</p>

      <p>Unless there are literally no other options, or Foster's is the cheapest option available — which it rarely is — I would recommend following my wife's example and simply declining to drink this beer outright. In most cases, there are plenty of options that a cheaper and less offensive than Foster's. The dingo should have left Meryl Steep's baby alone and instead eaten the people responsible for bringing "Australian for Beer" to the world.</p>

      <h3><span class="firstletter">O</span>ther Ratings</h3>

      <aside class="ratings">
        <div><a href="https://www.ratebeer.com/beer/fosters-lager/187/">RateBeer:</a>2.01/5</div><br />
        <div><a href="https://www.beeradvocate.com/beer/profile/575/918/">Beeradvocate:</a>2.54/5</div>
      </aside>

      <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

      <aside class="beer-links bottom">
        <% include partials/beerlinks %>
      </aside>

    </article>

    <% include partials/footer %>
    <script src="/js/pagesize.js"></script>
    <script src="/js/active-class_review.js"></script>
  </body>
</html>
