<% include partials/boilerplate %>

    <meta name="description" content="I saved one of my worst ideas of 2018 for last when I decided to give Foster's Premium Ale a second chance on New Year's Eve." />
    <meta name="keywords" content="beer, reviews, fosters premimum ale" />
    <link rel="canonical" href="https://passablebeers.com/fosterspremiumale.html" />

    <meta property="og:title" content="Review — Foster's Premium Ale">
    <meta property="og:description" content="I saved one of my worst ideas of 2018 for last when I decided to give Foster's Premium Ale a second chance on New Year's Eve">
    <meta property="og:image" content="https://passablebeers.com/images/fosterspremium.png">
    <meta property="og:url" content="https://passablebeers.com/reviews/fosterspremiumale.html">
    <meta property="og:site_name" content="Passable Beer Reviews">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:alt" content="An 'oil can' of Foster's Premium Ale.">

    <title>Review — Foster's Premium Ale</title>

  </head>

  <body>
    <% include partials/header %>

    <article>

      <h1>Foster's Premium Ale</h1>

      <img class="can" src="/images/fosterspremium.png" alt="An 'oil can' of Foster's Premium Ale.">
      <hr />

      <p>I could have trusted my gut instinct the first time, and thereby save additional damage to my literal gut. But Foster's Premium Ale (FPA) tasted so foul upon initial examination that I felt the need to confirm. This was mistake No. 2. Mistake No. 1 was trying this green-canned monstrosity in the first place.</p>

      <p><a href="/reviews/fosters.html">Foster's</a> Lager is bad, but it's bad in the same lazy, inoffensive way as other bad beers. It can be choked down. I did not find the same to be true of the ale version, even amidst advantageous conditions for swill consumption.</p>

      <p>I saved one of my worst ideas of 2018 for last when I decided to give Foster's Premium Ale a second chance on New Year's Eve — my wife's birthday and a night when the kid was staying with grandparents. I decided to add FPA to one of the extra beers I would drink that evening. Why? Because I am not a smart man.</p>

      <input id="info-toggle" type="checkbox">
      <label id="info-toggle-label" for="info-toggle">Beer Stats & Info</label>
      <aside class="infobox">
        <ul>
          <li><strong>Brewed by: </strong>Foster's Brewing (MillerCoors)</li>
          <li><strong>Style: </strong>English Pale Ale (Allegedly)</li>
          <li><strong>ABV: </strong>5.5%</li>
          <li><strong>Commercial Description: </strong>"Foster's Premium Ale is a 5.5% alcohol by volume ale with a brilliant copper color that delievers a rich, earthy beer-drinking expereience with a smooth caramel finish."</li>
          <li><strong>A Woman's Perspective: </strong>She refused the first time around and I didn't ask the second. It was her birthday, after all.</li>
          <li><strong>Is it Passable Beer?: </strong>Not even a little. Not even at all.</li>
        </ul>
      </aside>

      <p>It my unhappy duty to report that FPA lived down to its initial impression, even following the dulling of the senses by other, better drinks. It was so bad that I had to tap out before it was all gone. The beer-like substance had become too warm for me to finish. And if you know me well, this is as damning an indictment of a beer as I can make.</p>

      <p>In many ways, Foster's Premium Ale is one of the worst beers I've ever had. Is it objectively as bad as something like <a href="/reviews/nattydaddy.html">Natty</a> Daddy? Probably not, but it's close. And given the price and status it (I guess) enjoys as part of "Australia's Famous Beer Brand", one would expect something at least Passable. FPA tastes somewhere in the range of Milwaukee's Best Ice without the corresponding low expectations.</p>

      <p>This is normally the part of the review where I'd wonder what sort of awful, health-harming ingredients the fine people at MillerCoors shovel into this "Australian" brew. In the case of their Premium Ale one doesn't have to wonder, it is proudly included in subheadings on the <a href="https://www.fostersbeer.com/beer">site</a> — twice. Caramel.</p>

      <p>What ingredient give Foster's Premium Ale its "brilliant copper color", "caramel notes" and "smooth caramel finish"? It's not, as one would assume, the barley malt used. No, it's our good friend Caramel <a href="https://www.millercoors.com/beers/great-beers/fosters">Color</a>, a suspected <a href="https://www.consumerreports.org/cro/news/2014/01/caramel-color-the-health-risk-that-may-be-in-your-soda/index.htm">carcinogen</a>.</p>

      <p>I'm not sure what else to say about Foster's Premium Ale after "it tastes too bad to finish and maybe causes cancer." Don't drink this beer yourself, and for darn sure keep it away from any laboratory mice.</p>

      <h3><span class="firstletter">O</span>ther Ratings</h3>

      <aside class="ratings">
        <div><a href="https://www.ratebeer.com/beer/fosters-premium-ale/92787/">RateBeer:</a>2.32/5</div><br />
        <div><a href="https://www.beeradvocate.com/beer/profile/575/43121/">Beeradvocate:</a>2.85/5</div>
      </aside>

      <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

      <aside class="beer-links bottom">
        <% include partials/beerlinks %>
      </aside>

    </article>

    <% include partials/footer %>
    <script>

      // Set animation height
      if (document.body.scrollWidth >= 960) {
        document.documentElement.style.setProperty('--pour-height',
                                        -(document.body.scrollHeight) + "px");
      }

      // Add active class to current page
      var elements = document.getElementsByClassName("beer-circle");
      var listLength = elements.length;
      var current = window.location.pathname.split("/")[2];
      if (current.split(".")[1] !== "html") {
        current += ".html";
      }

      for (let i = 0; i < listLength; i++) {
        if (elements[i].toString().split("/")[4] === current) {
          elements[i].classList.add("active");
          break;
        }
      }

    </script>
  </body>
</html>
