<% include partials/boilerplate %>

    <meta name="description" content="Happy Valentine's Day" />
    <meta name="keywords" content="beer, reviews, valentines, e-cards, cards" />

    <meta property="og:title" content="Happy Valentine's Day">
    <meta property="og:description" content="A Valentine's Message from Passable Beer Reviews">
    <meta property="og:image" content="https://passablebeers.com/images/valentine.jpg">
    <meta property="og:url" content="https://passablebeers.com/valentine.html">
    <meta property="og:site_name" content="Passable Beer Reviews">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:alt" content="'Can' you Be Mine?">

    <title>Happy Birthday!</title>

  </head>

  <body>
    <% include partials/header %>



      <div id="valentines">
        <h1>We Talked About It</h1>
        <img src="../images/birthdaybaseball.jpg" />
        <h2>And as Far as a Mother/Grandmother You're A</h2>
        <h1>Home Run!</h1>
        <p>Happy Birthday! Love, Henry, Jeremy & Laurel</p>
      </div>

      <aside class="review-page-links">
        <div class="review-snippet">
          <a class="beer-circle highlife" href="/reviews/highlife.html">Miller High Life</a>
          <p>"High Life has a lot going for it beyond being decidedly not bad."</p>
        </div>
        <div class="review-snippet">
          <a class="beer-circle modeloespecial" href="/reviews/modeloespecial.html">Modelo Especial</a>
          <p>"I am happy to report that we have matured beyond the need to redact reports of our activities."</p>
        </div>
        <div class="review-snippet">
          <a class="beer-circle budcopper" href="/reviews/budcopper.html">Budweiser Copper</a>
          <p>"As for the beer itself Bud Copper, unlike whiskey, does not age well."</p>
        </div>
        <div class="review-snippet">
          <a class="beer-circle moosehead" href="/reviews/moosehead.html">Moosehead</a>
          <p>"This is a story about how a sweatshirt, long ago discarded, led to a beer review."</p>
        </div>
        <div class="review-snippet">
          <a class="beer-circle fosterspremium" href="/reviews/fosterspremiumale.html">Foster's Premium Ale</a>
          <p>"I'm not sure what else to say about Foster's Premium Ale after "it tastes too bad to finish and maybe causes cancer.""</p>
        </div>
        <div class="review-snippet">
          <a class="beer-circle nattydaddy" href="/reviews/nattydaddy.html">Natty Daddy</a>
          <p>"By the time I got down to the last ounce I was questioning literally every decision I had ever made. What misstep along my path had landed me in this hell?"</p>
        </div>
        <div class="review-snippet">
          <a class="beer-circle budlightplatinum" href="/reviews/budlightplatinum.html">Bud Light Platinum</a>
          <p>"If good intentions pave the road to hell, then I've always thought the asphalt would be made from unintended consequences. Case in point: Bud Light Platinum..."</p>
        </div>
        <div class="review-snippet">
          <a class="beer-circle hamms" href="/reviews/hamms.html">Hamm's Lager</a>
          <p>"I'm not mad about the inclusion of straight-up corn syrup in a beer this cheap. Hell, I expected worse."</p>
        </div>
      </aside>

    <% include partials/footer %>
    <script>

      // Add active class to current page
      var elements = document.getElementsByTagName("nav")[0].getElementsByTagName("a");
      var listLength = elements.length;
      var current = window.location.pathname.split("/")[1];
      if (current.split(".")[1] !== "html") {
        current += ".html";
      }

      for (let i = 0; i < listLength; i++) {
        if (elements[i].toString().split("/")[3] === current) {
          elements[i].classList.add("active");
          break;
        }
      }

    </script>
  </body>
</html>
