<% include partials/boilerplate %>

    <meta name="description" content="Modelo Especial threads the narrow path between good but overpriced, and cheap but dreadful." />
    <meta name="keywords" content="beer, reviews, modelo especial" />
    <link rel="canonical" href="https://passablebeers.com/modeloespecial.html" />

    <meta property="og:title" content="Review — Modelo Especial">
    <meta property="og:description" content="Modelo Especial threads the narrow path between good but overpriced, and cheap but dreadful.">
    <meta property="og:image" content="https://passablebeers.com/images/modeloespecial.png">
    <meta property="og:url" content="https://passablebeers.com/reviews/modeloespecial.html">
    <meta property="og:site_name" content="Passable Beer Reviews">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:alt" content="A can of Modelo Especial">

    <title>Review — Modelo Especial</title>

  </head>

  <body>
    <% include partials/header %>

    <article>

      <h1>Modelo Especial</h1>

      <img class="can" src="/images/modeloespecial.png" alt="A can of Modelo Especial">
      <hr />

      <p>By the time my college roommate/best friend/pseudo-brother and I walked into the convenience store, we were on Day 3 of his visit. It is now a special occasion when we get together and we had managed, over the course of the previous two days, to empty the fridge of beer.</p>

      <p>Convenience stores, in states where it is legal for them to sell alcohol, present beer consumers with a dilemma. Even the really shady ones now carry at least a couple of different craft beers, but those six-packs are wildly overpriced. And the convenience store selection of tall-boys and malt liquors is usually as varied as it is villainous. In between those extremes sits your typical selection of light lagers in six-to-12-packs.</p>

      <p>Because we don't hate ourselves, we haven't really been in the business of malt liquor since we lived together. And not wanting to overpay for something good, we were left with only slightly less odious options. That's when my friend suggested another path, a middle path — Modelo Especial. This purchase turned out to be one of the better mutual decisions we've ever made, although over the course of our years together "best mutual decision" is a low bar for us to clear.</p>

      <input id="info-toggle" type="checkbox">
      <label id="info-toggle-label" for="info-toggle">Beer Stats & Info</label>
      <aside class="infobox">
        <ul>
          <li><strong>Brewed by: </strong>Grupo Modelo (AB InBev)</li>
          <li><strong>Style: </strong>Pale Lager</li>
          <li><strong>ABV: </strong>4.4%</li>
          <li><strong>Commercial Description: </strong>"Well-balanced taste and light hop character with a crisp, clean finish. Modelo Especial is characterized by an orange blossom honey aroma with a hint of herb."</li>
          <li><strong>A Woman's Perspective: </strong>"It's sweeter than I remember. I would not want a whole can. There's something artificial about it."</li>
          <li><strong>Is it Passable Beer?: </strong>Yes. I think it's better than most other pale lagers without being overpriced.</li>
        </ul>
      </aside>

      <p>My ex-roommate and I have rarely been good influences on one another. There was the time we stayed up all night during finals because we [REDACTED]. And that time we [REDACTED] on federal government property. And who can forget when we [REDACTED] and [REDACTED] before we had to hide from [REDACTED] because of laws pertaining to [REDACTED] in the state of [REDACTED]. We’ve been busted. We lost our qualifications as section leaders three times and were put in hack, twice, by our Resident Advisor. We have a history of high speed passes over five air control towers, and one admiral’s daughter — Penny <a href="https://www.youtube.com/watch?v=siwpn14IE7E">Benjamin</a>.</p>

      <p>I am happy to report that we have matured beyond the need to redact reports of our activities. On his visit we just stayed up way past our normal bed times drinking some orders of magnitude more than we normally do. I will neither confirm nor deny reports that moonshine made an appearance. So by the time we got to the convenience store, we just wanted something to wash down our burritos.</p>

      <p>I can't remember the last time I had Modelo, which makes sense because it's bland enough to unmemorable. It's also just interesting enough to be halfway decent and is easy to drink. It pairs well with burritos, and thanks to the recent blast of warm weather, I can report that it makes for a great <a href="/about.html">yard</a> beer.</p>

      <p>Modelo Especial threads the narrow path between good but overpriced, and cheap but dreadful. It isn't that good, but it's good for what it is. And I think that's the highest compliment one can pay a Passable Beer. </p>

      <h2><span class="firstletter">O</span>ther Ratings</h2>

      <aside class="ratings">
        <div><a href="https://www.ratebeer.com/beer/modelo-especial/744/">RateBeer:</a>2.02/5</div><br />
        <div><a href="https://www.beeradvocate.com/beer/profile/75/1321/">Beeradvocate:</a>2.84/5</div>
      </aside>

      <h2 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h2>

      <aside class="beer-links bottom">
        <% include partials/beerlinks %>
      </aside>

    </article>

    <% include partials/footer %>

    <script>

      // Set animation height
      if (document.body.scrollWidth >= 960) {
        document.documentElement.style.setProperty('--pour-height',
                                        -(document.body.scrollHeight) + "px");
      }

      // Add active class to current page
      var elements = document.getElementsByClassName("beer-circle");
      var listLength = elements.length;
      var current = window.location.pathname.split("/")[2];
      if (current.split(".")[1] !== "html") {
        current += ".html";
      }

      for (let i = 0; i < listLength; i++) {
        if (elements[i].toString().split("/")[4] === current) {
          elements[i].classList.add("active");
          break;
        }
      }

    </script>

  </body>
</html>
