<% include partials/boilerplate %>

    <title>Happy Mothers's Day</title>

  </head>

  <body>
    <% include partials/header %>

      <div id="valentines">
        <h1>How Often Am I Glad You Married Me?</h1>
        <img src="../images/allday.png" />
        <h2>And Every Day</h2>
        <p>Henry & I are so lucky to have you. You are a wonderful wife & mother.</p>
        <p>Happy Mother's Day. I love you so much. -Jeremy</p>
      </div>

    <% include partials/footer %>
    <script>

      // Set animation height
      if (document.body.scrollWidth >= 960) {
        document.documentElement.style.setProperty('--pour-height',
                                        -(document.body.scrollHeight) + "px");
      }

      // Add active class to current page
      var elements = document.getElementsByTagName("nav")[0].getElementsByTagName("a");
      var listLength = elements.length;
      var current = window.location.pathname.split("/")[1];
      if (current.split(".")[1] !== "html") {
        current += ".html";
      }

      for (let i = 0; i < listLength; i++) {
        if (elements[i].toString().split("/")[3] === current) {
          elements[i].classList.add("active");
          break;
        }
      }

    </script>
  </body>
</html>
