<% include partials/boilerplate %>

    <meta name="description" content="Narragansett review" />
    <meta name="keywords" content="beer, reviews, narragansett lager"

    <title>Review — Narragansett Lager</title>
  </head>

  <body>
    <% include partials/header %>

    <article>

      <h1>Narragansett Lager</h1>
      <hr />

      <img class="can" src="/images/narragansett.png" alt="A can of Narragansett Lager.">

      <p>Given the right context and setting, most beers—even ones that aren't good—can be enjoyable. Narragansett Brewing's flagship lager is no exception. This American-style lager is a fine complement to a summer day spent eating seafood in a New England coastal town.</p>

      <p>I love how these brewing companies try to dress up the description of an otherwise bland product, which, spoiler alert, ‘Gansett most definitely is. Narragansett's "secret blend of Pacific Northwest hops" imparts an IBU of 12 (for comparison, most hoppy IPAs clock in north of 50 IBUs). An IBU of 12 means that they aren't using many hops at all.</p>

      <input id="info-toggle" type="checkbox">
      <label id="info-toggle-label" for="info-toggle">Stats & Info</label>
      <aside class="infobox">
        <ul>
          <li><strong>Brewed by: </strong>Narragansett Brewing Company</li>
          <li><strong>Style: </strong>American Lager</li>
          <li><strong>ABV: </strong>5.0%</li>
          <li><strong>Commercial Description: </strong>"Brewed just right for drinking with six-row malt, a secret blend of Pacific Northwest hops, and corn from Iowa — this beer is clean, crisp, refreshing, and perfectly balanced. A classic American lager and the workhorse of the ‘Gansett stable."</li>
          <li><strong>A Woman's Perspective: </strong>"It tastes like Busch with a cough-syrup aftertaste, but not in a bad way." Fifteen seconds and another sip later: "Yeah, that aftertaste is bad."</li>
          <li><strong>Is it Passable Beer?: </strong>Perfectly passable. Especially if you find yourself in a part of the United States where pronunciation of the letter "R" is optional.</li>
        </ul>
      </aside>

      <p>Beyond that, nearly all the hops grown in America come from the Pacific Northwest, and there aren't all that many different varieties — especially ones you'd use in an American-style lager. I'd guess that "secret blend" amounts to a handful of two different hops.</p>

      <p>Oh, and the corn from Iowa. Someone who doesn't know how beer is brewed might read that and think, "Oooohh, Iowa corn. Good stuff, that." No one would notice if tomorrow Narragansett started using corn from Nebraska. The truth is that they use corn instead of malt because corn is a cheaper source of sugar. In theory, a brewery would want to hide any ingredient other than barley, water, hops, or yeast. Marketing copywriters are evil like that.</p>

      <p>The beer's current tagline, "Made on Honor, Sold on Merit", dates back to around 1910, though. And like all good taglines it only makes sense if you don't think about it too hard. Narragansett lager, like most of its American lager kin, is likewise best enjoyed when you don't think too hard about it. I wouldn't say it's interesting enough to make any extra effort to track down, but it's definitely worth seeking out the next time you're on the New England coast.</p>

      <h3><span class="firstletter">O</span>ther Ratings</h3>

      <aside class="ratings">
        <div><a href="https://www.ratebeer.com/beer/narragansett-lager-beer/6856/">RateBeer:</a>2.47/5</div><br />
        <div><a href="https://www.beeradvocate.com/beer/profile/213/7406/">Beeradvocate:</a>3.36/5</div>
      </aside>

      <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

      <aside class="beer-links bottom">
        <% include partials/beerlinks %>
      </aside>

    </article>

    <% include partials/footer %>
    <script src="/js/pagesize.js"></script>
    <script src="/js/active-class_review.js"></script>
  </body>
</html>
