<% include partials/boilerplate %>

    <meta name="description" content='All signs point to us living in the world of "Idiocracy" and 25 ounces of a beer called Natty Daddy pairs perfectly with an Extra Big-Ass Taco.' />
    <meta name="keywords" content="beer, reviews, natty daddy" />

    <meta property="og:title" content="Review — Natty Daddy">
    <meta property="og:description" content='All signs point to us living in the world of "Idiocracy" and 25 ounces of a beer called Natty Daddy pairs perfectly with an Extra Big-Ass Taco.'>
    <meta property="og:image" content="https://passablebeers.com/images/nattydaddy.png">
    <meta property="og:url" content="https://passablebeers.com/reviews/nattydaddy.html">
    <meta property="og:site_name" content="Passable Beer Reviews">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:alt" content="A can of 25 oz. can of Natty Daddy.">

    <title>Review — Natty Daddy</title>

  </head>

  <body>
    <% include partials/header %>

    <article>

      <h1>Natty Daddy</h1>

      <img class="can" src="/images/nattydaddy.png" alt="A 25 oz. can of Natty Daddy.">
      <hr />

      <p>Malt liquors and/or beers that qualify by ABV as such, like Natty Daddy, will not as a general rule receive a review from Passable Beer Reviews. Exceptions to this rule will be beers with some type of personal connection. Unfortunately, I previously wrote about this monstrosity for a now-defunct <a href="http://blooperman.com/natty-daddy/">site</a>.</p>

      <p>This current venture began as a class project, and a classmate's Natty Daddy mention sealed my fate. Review Natty Daddy I must.</p>

      <p>Natty Daddy first entered my life via my wife's Instagram feed. I once wondered what this said about my wife and, by association, me. But when the time came for her to provide "A Woman's Perspective" she refused to drink the Daddy. If asked to describe my ideal partner in one sentence I'm pretty sure that "Cool enough to trigger malt liquor ads in her timeline and smart enough to avoid drinking it," would cover it.</p>

      <input id="info-toggle" type="checkbox">
      <label id="info-toggle-label" for="info-toggle">Beer Stats & Info</label>
      <aside class="infobox">
        <ul>
          <li><strong>Brewed by: </strong>AB InBev</li>
          <li><strong>Style: </strong>Malt Liquor</li>
          <li><strong>ABV: </strong>8.0%</li>
          <li><strong>Commercial Description: </strong>"Big stories call for a big Daddy. With its 8.0% ABV, Natty Daddy is a big, bold and cold handful of fun for any story."</li>
          <li><strong>A Woman's Perspective: </strong>She refused to drink this. Marry well, kids. I married well.</li>
          <li><strong>Is it Passable Beer?: </strong>Does the Pope actually crap in the woods? No? Well, then, Natty Daddy is not Passable Beer.</li>
        </ul>
      </aside>

      <p>As far as I know, Natty Daddy only comes in 25 oz. cans. Why? Because all signs point to us living in the world of "Idiocracy" and 25 ounces of a beer called Natty Daddy pairs perfectly with an Extra Big-Ass <a href="https://www.youtube.com/watch?v=UWvBvKSkC_g">Taco</a> from Carl's Jr.</p>

      <p>That extra ounce is a real killer too. Like all of the world's worst beers Natty Daddy is best enjoyed as close to freezing as possible. If it were possible, I would actually recommend drinking this "beer" as fast as possible. The taste is so foul, though, that it cannot be consumed before warming. And in a feature that makes no sense, I would swear that Natty Daddy seemed THICKER than regular beer.</p>

      <p>By the time I got down to the last ounce I was questioning literally every decision I had ever made. What misstep along my path had landed me in this hell? After choking down the last drops I drank a session IPA just to help erase the taste from my mouth. If only the memory was also so easily erased.</p>

      <p>I will only describe the next morning as much worse than most mornings after a three-beer night and for that I cannot entirely blame the robust ABV. I suspect there are many <em>Un</em>natural elements — industrial runoff? ancient occult ceremonies? — to the "Natural" Daddy brewing process. Where have you gone, <a href="https://en.wikipedia.org/wiki/Upton_Sinclair">Upton Sinclair</a>? Our nation turns its lonely eyes to you.</p>

      <p>Despite damaging my body in possibly irreversible ways the entire Natty Daddy experience did provide one lone bright spot. The <a href="https://www.naturallight.com/our-beers/natty-daddy.html">website</a> has a way to locate stores and bars where Natty Daddy can be found. My zip code revealed only two options for the Night Out(bar) option. One of these establishments is on our way to the beach. This summer my wife will probably be cool enough to wish me well as I enter a potentially dangerous but most assuredly awesome dive bar, and smart enough to stay the hell away.</p>

      <p>She's a keeper, my wife. The same cannot be said of Natty Daddy, which should come with a Surgeon General's warning.</p>


      <h3><span class="firstletter">O</span>ther Ratings</h3>

      <aside class="ratings">
        <div><a href="https://www.ratebeer.com/beer/natty-daddy/154227/">RateBeer:</a>1.8/5</div><br />
        <div><a href="https://www.beeradvocate.com/beer/profile/29/73223/">Beeradvocate:</a>2.51/5</div>
      </aside>

      <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

      <aside class="beer-links bottom">
        <% include partials/beerlinks %>
      </aside>

    </article>

    <% include partials/footer %>
    <script>

      // Set animation height
      if (document.body.scrollWidth >= 960) {
        document.documentElement.style.setProperty('--pour-height',
                                        -(document.body.scrollHeight) + "px");
      }

      // Add active class to current page
      var elements = document.getElementsByClassName("beer-circle");
      var listLength = elements.length;
      var current = window.location.pathname.split("/")[2];
      if (current.split(".")[1] !== "html") {
        current += ".html";
      }

      for (let i = 0; i < listLength; i++) {
        if (elements[i].toString().split("/")[4] === current) {
          elements[i].classList.add("active");
          break;
        }
      }

    </script>
  </body>
</html>
