<% include partials/boilerplate %>

    <meta name="description" content="Pabst American Pale Ale review" />
    <meta name="keywords" content="beer, reviews, pabst american pale ale"

    <title>Review — Pabst American Pale Ale</title>
  </head>

  <body>
    <% include partials/header %>

    <article>

      <h1>Pabst American Pale Ale</h1>

      <img class="can" src="/images/pabstapacan.png" alt="A can of Pabst American Pale Ale.">
      <hr />

      <p>My in-laws tell a story about an acquaintance who, upon taking his first sip of wine, complimented it by saying, "I've had better, but none cheaper." I initially felt the same way about my most recent discovery, Pabst American Pale Ale. Until I did some math.</p>

      <p>My local grocery store sells four 16-oz. cans of Pabst APA for $5.99. That's roughly $.09-per-oz. That same store often has 12 packs of Sierra Nevada Pale Ale (or something of similar quality) on sale for $12.99—also $.09-per-oz. At that price, I can't recommend Pabst APA—it just doesn't compete taste-wise.</p>

      <input id="info-toggle" type="checkbox">
      <label id="info-toggle-label" for="info-toggle">Beer Stats & Info</label>
      <aside class="infobox">
        <ul>
          <li><strong>Brewed by: </strong>Pabst</li>
          <li><strong>Style: </strong>American Pale Ale</li>
          <li><strong>ABV: </strong>5.0%</li>
          <li><strong>Commercial Description: </strong>"We brewed this beer for those who refuse to be ranked and filed: those who are inventing their own American Dream with grit, optimism and ingenuity. Made with All-American Chinook, Liberty, and Cascade hops for a refreshing, bright citrus flavor. Straightforward and unpretentious, Pabst American Pale Ale is beer for the rest of us."</li>
          <li><strong>A Woman's Perspective: </strong>"Ewwww. Yes, it is." was my wife's reply when I said "Hmmm, uninteresting, but not heinous."</li>
          <li><strong>Is it Passable Beer?: </strong>For our purposes? No. Just grab whatever Pale Ale is on sale that week.</li>
        </ul>
      </aside>

        <p>It does, however, accomplish what it sets out to do. Pabst APA is as unpretentious and straightforward as it claims to be. But it only hints at flavors other beers in its price-range fully explore. The taste is exactly what you'd expect a PBR brewed with just enough Chinook, Liberty, and Cascade hops to taste like. I'll have to take Pabst at their word and concede those three hops are in there, I just couldn't tell you where.</p>

        <p>I guess the result tastes like a beer for the "rest of us." But if you subtract out the beer drinkers who have stuck with the same brand exclusively for 30 years and the craft beer snobs, I'm not sure that "the rest of us" that are left constitutes enough of a market to justify this beer's existence. It's almost like Pabst made a decent-enough <em>American</em> Pale Ale but left it entirely without a home of its own.</p>

        <h3><span class="firstletter">O</span>ther Ratings</h3>

        <aside class="ratings">
          <div><a href="https://www.ratebeer.com/beer/pabst-american-pale-ale/571007/">RateBeer:</a>3.0/5</div><br />
          <div><a href="https://www.beeradvocate.com/beer/profile/447/327725/">Beeradvocate:</a>3.47/5</div>
        </aside>

        <h3 class="beer-links-head"><span class="firstletter">R</span>ecent Reviews</h3>

        <aside class="beer-links bottom">
          <% include partials/beerlinks %>
        </aside>

    </article>

    <% include partials/footer %>
    <script src="/js/pagesize.js"></script>
    <script src="/js/active-class_review.js"></script>
  </body>
</html>
