<% include partials/boilerplate %>

<% include partials/header %>

<aside class="review-page-links">
  <div class="review-snippet">
    <a class="beer-circle one" href="/reviews/budlightplatinum.html">Bud Light Platinum</a>
    <p>"If good intentions pave the road to hell, then I've always thought the asphalt would be made from unintended consequences. Case in point: Bud Light Platinum..."</p>
  </div>
  <div class="review-snippet">
    <a class="beer-circle two" href="/reviews/hamms.html">Hamm's Lager</a>
    <p>"I'm not mad about the inclusion of straight-up corn syrup in a beer this cheap. Hell, I expected worse."</p>
  </div>
  <div class="review-snippet">
    <a class="beer-circle three" href="/reviews/coronafamiliar.html">Corona Familiar</a>
    <p>"The best beers are made for you to consume and then recommend to your friends. The best beers are not made to be put into 32-ounce bottles, like Corona Familiar...</p>
  </div>
  <div class="review-snippet">
    <a class="beer-circle four" href="/reviews/fosters.html">Foster's Lager</a>
    <p>"The dingo should have left Meryl Steep’s baby alone and instead eaten the people responsible for bringing "Australian for Beer" to the world."</p>
  </div>
  <div class="review-snippet">
    <a class="beer-circle five" href="/reviews/narragansett.html">Narragansett</a>
    <p>"This American-style lager is a fine complement to a summer day spent eating seafood in a New England coastal town."</p>
  </div>
  <div class="review-snippet">
    <a class="beer-circle six" href="/reviews/pabstapa.html">Pabst APA</a>
    <p>"My in-laws tell a story about an acquaintance who, upon taking his first sip of wine, complimented it by saying, "'I’ve had better, but none cheaper.'"</p>
  </div>
</aside>

<% include partials/footer %>
