<% include partials/boilerplate %>

    <meta name="description" content="Every Passable Beer Review in one spot." />
    <meta name="keywords" content="beer, reviews" />

    <meta property="og:title" content="Every Passable Beer Review">
    <meta property="og:description" content="Cheap reviews of cheap beer.">
    <meta property="og:image" content="https://passablebeers.com/images/homeback.jpg">
    <meta property="og:url" content="https://passablebeers.com/reviews/reviews.html">
    <meta property="og:site_name" content="Passable Beer Reviews">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:image:alt" content="Two beer bottles touching in front of a sunset.">

    <title>All Our Reviews</title>

    <% include partials/header %>

    <aside class="review-page-links">
      <div class="review-snippet"> 
        <a class="beer-circle mythos" href="/reviews/mythos.html">Mythos</a>
        <p>"If anyone of any ethnicity showed up at my door with a giant wooden horse, I'd have some questions, but there's a huge gulf between a gyro and a soldier-filled stallion on wheels."</p>
      </div>
      <div class="review-snippet">
        <a class="beer-circle highlife" href="/reviews/highlife.html">Miller High Life</a>
        <p>"High Life has a lot going for it beyond being decidedly not bad."</p>
      </div>
      <div class="review-snippet">
        <a class="beer-circle modeloespecial" href="/reviews/modeloespecial.html">Modelo Especial</a>
        <p>"I am happy to report that we have matured beyond the need to redact reports of our activities."</p>
      </div>
      <div class="review-snippet">
        <a class="beer-circle budcopper" href="/reviews/budcopper.html">Budweiser Copper</a>
        <p>"As for the beer itself Bud Copper, unlike whiskey, does not age well."</p>
      </div>
      <div class="review-snippet">
        <a class="beer-circle moosehead" href="/reviews/moosehead.html">Moosehead</a>
        <p>"This is a story about how a sweatshirt, long ago discarded, led to a beer review."</p>
      </div>
      <div class="review-snippet">
        <a class="beer-circle fosterspremium" href="/reviews/fosterspremiumale.html">Foster's Premium Ale</a>
        <p>"I'm not sure what else to say about Foster's Premium Ale after "it tastes too bad to finish and maybe causes cancer.""</p>
      </div>
      <div class="review-snippet">
        <a class="beer-circle nattydaddy" href="/reviews/nattydaddy.html">Natty Daddy</a>
        <p>"By the time I got down to the last ounce I was questioning literally every decision I had ever made. What misstep along my path had landed me in this hell?"</p>
      </div>
      <div class="review-snippet">
        <a class="beer-circle budlightplatinum" href="/reviews/budlightplatinum.html">Bud Light Platinum</a>
        <p>"If good intentions pave the road to hell, then I've always thought the asphalt would be made from unintended consequences. Case in point: Bud Light Platinum..."</p>
      </div>
      <div class="review-snippet">
        <a class="beer-circle hamms" href="/reviews/hamms.html">Hamm's Lager</a>
        <p>"I'm not mad about the inclusion of straight-up corn syrup in a beer this cheap. Hell, I expected worse."</p>
      </div>
      <div class="review-snippet">
        <a class="beer-circle coronafamiliar" href="/reviews/coronafamiliar.html">Corona Familiar</a>
        <p>"The best beers are made for you to consume and then recommend to your friends. The best beers are not made to be put into 32-ounce bottles, like Corona Familiar...</p>
      </div>
      <div class="review-snippet">
        <a class="beer-circle fosters" href="/reviews/fosters.html">Foster's Lager</a>
        <p>"The dingo should have left Meryl Steep's baby alone and instead eaten the people responsible for bringing "Australian for Beer" to the world."</p>
      </div>
      <div class="review-snippet">
        <a class="beer-circle narragansett" href="/reviews/narragansett.html">Narragansett</a>
        <p>"This American-style lager is a fine complement to a summer day spent eating seafood in a New England coastal town."</p>
      </div>
      <div class="review-snippet">
        <a class="beer-circle pabstapa" href="/reviews/pabstapa.html">Pabst APA</a>
        <p>"My in-laws tell a story about an acquaintance who, upon taking his first sip of wine, complimented it by saying, "'I've had better, but none cheaper.'"</p>
      </div>
    </aside>

    <% include partials/footer %>

    <script>

      // Add active class to current page
      var elements = document.getElementsByTagName("nav")[0].getElementsByTagName("a");
      var listLength = elements.length;
      var current = window.location.pathname.split("/")[1];
      if (current.split(".")[1] !== "html") {
        current += ".html";
      }

      for (let i = 0; i < listLength; i++) {
        if (elements[i].toString().split("/")[3] === current) {
          elements[i].classList.add("active");
          break;
        }
      }

    </script>
  </body>
</html>
