<% include partials/boilerplate %>

    <meta name="description" content="Congratulations on a successful submission" />

    <title>Thanks</title>
  </head>

  <body>
    <% include partials/header %>

    <h1>Thanks!</h1>

    <article><p>Thank you for your submission. We're always looking for new Passable Beers.</p></article>

    <h3><span class="firstletter">R</span>ecent Reviews</h3>

    <aside class="beer-links">
      <% include partials/beerlinks %>
    </aside>

    <% include partials/footer %>
    <script src="/js/active-class_article.js"></script>
  </body>
</html>
