.nattydaddy {
  background-image: url("../images/nattydaddy.png");
}
.budlightplatinum {
  background-image: url("../images/blplatinum.png");
}
.hamms {
  background-image: url("../images/hamms.png");
}
.coronafamiliar {
  background-image: url("../images/coronafamiliar.png");
}
.fosters {
  background-image: url("../images/fosters.png");
}
.narragansett {
  background-image: url("../images/narragansett.png");
}
.pabstapa {
  background-image: url("../images/pabstapacan.png");
}

article {
  @supports (display: grid) {
    @media only screen and (min-width: 655px) {
       display: grid;
       grid-template-columns: 2fr 5fr;
       align-items: center;
       max-width: 670px;
       margin: 0 auto;
       grid-template-areas:
       "hdl hdl"
       "img inf"
    }

    @media only screen and (min-width: 960px) {
      max-width: none;
      grid-template-columns: 4fr 6fr 2fr;
      grid-column-gap: 1em;
      margin-bottom: 3em;
    }

    @media only screen and (min-width: 990px) {
      font-size: 1.1em;
    }

    @media only screen and (min-width: 1080px) {
      font-size: 1.2em;
    }

    @media only screen and (min-width: 1080px) {
      grid-template-columns: 3fr 6fr 2fr;
    }
  }

  h1 {
    @supports (display: grid) {
      @media only screen and (min-width: 655px) {
         grid-area: hdl;
      }

      @media only screen and (min-width: 960px) {
        grid-area: 1 / 1 / 2 / 5;
      }
    }
  }

  h3 {
    @supports (display: grid) {
      @media only screen and (min-width: 655px) {
         grid-column: 1 / 3;
      }

      @media only screen and (min-width: 960px) {
        grid-column: 1 / 5;
      }
    }
  }

  img {
    float: left;
    margin: 0 1.0em 0.25em 0;

    @supports (display: grid) {
      @media only screen and (min-width: 655px) {
         grid-area: img;
      }

      @media only screen and (min-width: 960px) {
        grid-area: 2 / 1 / 3 / 2;
      }
    }
  }

  p {
    @supports (display: grid) {
      @media only screen and (min-width: 655px) {
         grid-column: 1 / 3;
      }

      @media only screen and (min-width: 960px) {
        grid-column: 1 / 5;
      }

      @media only screen and (min-width: 1080px) {
        max-width: 760px;
        margin: 0 auto;
      }
    }
  }

  ul {
    @supports (display: grid) {
      @media only screen and (min-width: 655px) {
        grid-column: 1 / 3;
      }

      @media only screen and (min-width: 960px) {
        grid-column: 1 / 5;
      }
    }
  }

}

.bottle {
  -webkit-shape-outside: polygon(60.70% 1.06%, 62.08% 9.55%, 66.09% 22.74%, 66.26% 42.80%, 76.07% 50.16%, 77.06% 65.52%, 76.83% 88.96%, 73.77% 97.53%, 58.21% 100.65%, 42.05% 100.79%, 23.16% 98.11%, 21.76% 89.29%, 33.05% 1.13%);
  shape-outside: polygon(60.70% 1.06%, 62.08% 9.55%, 66.09% 22.74%, 66.26% 42.80%, 76.07% 50.16%, 77.06% 65.52%, 76.83% 88.96%, 73.77% 97.53%, 58.21% 100.65%, 42.05% 100.79%, 23.16% 98.11%, 21.76% 89.29%, 33.05% 1.13%);

  @supports (display: grid) {
    @media only screen and (min-width: 655px) {
       width: 100%;
    }
  }
}

.can {
  width: 40%;
  margin-left: 0.5em;

  @supports (display: grid) {
    @media only screen and (min-width: 655px) {
       width: 100%;
       margin: 0 1.5em 1.5em 0;
    }

    @media only screen and (min-width: 960px) {
      margin: 0 1.5em 1.5em 1em;
    }
  }
}

.ratings {
  background: url("../images/beerbanner.jpg") no-repeat center;
  background-size: cover;
  line-height: 1;
  font-size: 1.35em;
  font-weight: bold;
  color: $blue;
  margin-bottom: 1em;
  padding: 1.25em;

  @supports (display: grid) {
    @media only screen and (min-width: 655px) {
       grid-column: 1 / 3;
    }

    @media only screen and (min-width: 960px) {
      grid-column: 1 / 5;
      margin: 0 1.5em 1em 1.5em;
    }

    @media only screen and (min-width: 1080px) {
      width: 720px;
      margin: 0 auto;
    }
  }

  div {
    display: flex;
    justify-content: space-between;
  }
}
