<a class="beer-circle stormbrew" href="/reviews/stormbrew.html">Storm Brew</a>
<a class="beer-circle summerfest" href="/reviews/summerfest">Summerfest</a>
<a class="beer-circle swipelight" href="/reviews/swipelight">Swipe Light</a>
<a class="beer-circle mythos" href="/reviews/mythos.html">Mythos</a>
<a class="beer-circle highlife" href="/reviews/highlife.html"
  >Miller High Life</a
>
