<a class="beer-circle mythos" href="/reviews/mythos.html">Mythos</a>
<a class="beer-circle highlife" href="/reviews/highlife.html">Miller High Life</a>
<a class="beer-circle modeloespecial" href="/reviews/modeloespecial.html">Modelo Especial</a>
<a class="beer-circle budcopper" href="/reviews/budcopper.html">Budweiser Copper</a>
<a class="beer-circle moosehead" href="/reviews/moosehead.html">Moosehead</a>
