<a class="beer-circle one" href="/reviews/hamms.html">Hamm's Lager</a>
<a class="beer-circle two" href="/reviews/coronafamiliar.html">Corona Familiar</a>
<a class="beer-circle three" href="/reviews/fosters.html">Foster's</a>
<a class="beer-circle four" href="/reviews/narragansett.html">Narragansett</a>
<a class="beer-circle five" href="/reviews/pabstapa.html">Pabst APA</a>
