<a class="beer-circle budcopper" href="/reviews/budcopper.html">Budweiser Copper</a>
<a class="beer-circle moosehead" href="/reviews/moosehead.html">Moosehead</a>
<a class="beer-circle fosterspremium" href="/reviews/fosterspremiumale.html">Foster's Premium Ale</a>
<a class="beer-circle nattydaddy" href="/reviews/nattydaddy.html">Natty Daddy</a>
<a class="beer-circle budlightplatinum" href="/reviews/budlightplatinum.html">Bud Light Platinum</a>
