<a class="beer-circle one" href="/reviews/nattydaddy.html">Natty Daddy</a>
<a class="beer-circle two" href="/reviews/budlightplatinum.html">Bud Light Platinum</a>
<a class="beer-circle three" href="/reviews/hamms.html">Hamm's Lager</a>
<a class="beer-circle four" href="/reviews/coronafamiliar.html">Corona Familiar</a>
<a class="beer-circle five" href="/reviews/fosters.html">Foster's</a>
