<a class="beer-circle innertube" href="/reviews/innertube.html">Innertube</a>
<a class="beer-circle stormbrew" href="/reviews/stormbrew.html">Storm Brew</a>
<a class="beer-circle summerfest" href="/reviews/summerfest.html">Summerfest</a>
<a class="beer-circle swipelight" href="/reviews/swipelight.html">Swipe Light</a>