<a class="beer-circle nattydaddy" href="/reviews/nattydaddy.html">Natty Daddy</a>
<a class="beer-circle budlightplatinum" href="/reviews/budlightplatinum.html">Bud Light Platinum</a>
<a class="beer-circle hamms" href="/reviews/hamms.html">Hamm's Lager</a>
<a class="beer-circle coronafamiliar" href="/reviews/coronafamiliar.html">Corona Familiar</a>
<a class="beer-circle fosters" href="/reviews/fosters.html">Foster's</a>
