<header>
  <a href="index.html"><img src="/images/logo.svg" alt="Passable Beer Reviews logo."></a>

  <nav class="topnav">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/about.html">Passable Beer Explained</a></li>
      <li><a href="/favoritebeers.html">Favorite Beers</a></li>
      <li><a href="/contact.html">Suggestion Box</a></li>
    </ul>
  </nav>
</header>
