<a class="home-circle beer-circle summerfest" href="/reviews/summerfest">Summerfest</a>
<a class="home-circle beer-circle swipelight" href="/reviews/swipelight">Swipe Light</a>
<a class="home-circle beer-circle mythos" href="/reviews/mythos.html">Mythos</a>
<a class="beer-circle home-circle highlife" href="/reviews/highlife.html">Miller High Life</a>
