<a class="beer-circle home-circle fosterspremium" href="/reviews/fosterspremiumale.html">Foster's Premium Ale</a>
<a class="beer-circle home-circle nattydaddy" href="/reviews/nattydaddy.html">Natty Daddy</a>
<a class="beer-circle home-circle budlightplatinum" href="/reviews/budlightplatinum.html">Bud Light Platinum</a>
<a class="beer-circle home-circle hamms" href="/reviews/hamms.html">Hamm's Lager</a>
