<a class="beer-circle home-circle one" href="/reviews/nattydaddy.html">Natty Daddy</a>
<a class="beer-circle home-circle two" href="/reviews/budlightplatinum.html">Bud Light Platinum</a>
<a class="beer-circle home-circle three" href="/reviews/hamms.html">Hamm's Lager</a>
<a class="beer-circle home-circle four" href="/reviews/coronafamiliar.html">Corona Familiar</a>
