<a class="beer-circle home-circle budcopper" href="/reviews/budcopper.html">Budweiser Copper</a>
<a class="beer-circle home-circle moosehead" href="/reviews/moosehead.html">Moosehead</a>
<a class="beer-circle home-circle fosterspremium" href="/reviews/fosterspremiumale.html">Foster's Premium Ale</a>
<a class="beer-circle home-circle nattydaddy" href="/reviews/nattydaddy.html">Natty Daddy</a>
