<a class="beer-circle home-circle highlife" href="/reviews/highlife.html">Miller High Life</a>
<a class="beer-circle home-circle modeloespecial" href="/reviews/modeloespecial.html">Modelo Especial</a>
<a class="beer-circle home-circle budcopper" href="/reviews/budcopper.html">Budweiser Copper</a>
<a class="beer-circle home-circle moosehead" href="/reviews/moosehead.html">Moosehead</a>
