<a class="beer-circle home-circle one" href="/reviews/hamms.html">Hamm's Lager</a>
<a class="beer-circle home-circle two" href="/reviews/coronafamiliar.html">Corona Familiar</a>
<a class="beer-circle home-circle three" href="/reviews/fosters.html">Foster's</a>
<a class="beer-circle home-circle four" href="/reviews/narragansett.html">Narragansett</a>
