$blue: #102C73;
$red: #C5091F;
$gray: #C4C4C4;

$font-family: "Verdana", "Arial", "sans-serif";
$font-cursive: "Damion", "cursive";
$font-headline: "Bookman", "Times New Roman", "serif";
$strong: 700;

$border-radius: 5px;
$box-shadow: 4px 4px 8px #aaa;
$pour-height: -200vh; //fallback if script doesn't run
